// ==================================================
// TABLE OF CONTENTS
// --------------------------------------------------
//  * Breakpoints
//  * Styles
//      - Typography
//      - Headings
//      - Base
//  * Colors
//      - Grayscale
//      - General
//  * Lists
//      - Buttons
//      - Inputs
// ==================================================



//
// Breakpoints
//
// **************************************************

$breakpoints: (
	xxsmall: 0,
	xsmall:  em( 420px ),
	small:   em( 576px ),
	medium:  em( 768px ),
	large:   em( 992px ),
	xlarge:  em( 1200px ),
	xxlarge: em( 1440px )
);

$offset: $spacer * 3.75;


//
// Styles
//
// **************************************************

/* SEE BOOTSTRAP-VARIABLES */

$beige: #edece3;
$offwhite: #fcfbf4;
$squash: #d4af37;
$greybrown: #857a57;
$softgold: #ae9962;
$charcoal: #373636;
$axgold: #9f8542;



//
// Lists
//
// **************************************************


//
// Buttons
//

$button-list: (
	'button',
	'input[type="button"]',
	'input[type="reset"]',
	'input[type="submit"]'
);


//
// Inputs
//

$input-list: (
	'input[type="color"]',
	'input[type="date"]',
	'input[type="datetime"]',
	'input[type="datetime-local"]',
	'input[type="email"]',
	'input[type="month"]',
	'input[type="number"]',
	'input[type="password"]',
	'input[type="search"]',
	'input[type="tel"]',
	'input[type="text"]',
	'input[type="time"]',
	'input[type="url"]',
	'input[type="week"]',
	'input:not([type])',
	'textarea'
);
