/*!
 *  Club Menangle 0.1.0
 *  Copyright (C) 2024 Gene Alyson Fortunado Torcende
 *  Licensed under GPL-2.0-only.
 */

@charset "UTF-8";
/*! Scaling/sizing by client and designer ¯\_(ツ)_/¯ */
/*!
 *  genetiks 1.9.0 (https://github.com/kermage/genetiks)
 *  Copyright (C) 2017-2022 Gene Alyson Fortunado Torcende
 *  Licensed under MIT.
 */
/*! tailwindcss v3.3.5 | MIT License | https://tailwindcss.com */
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
[type='text'],input:where(:not([type])),[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}
[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  color: #6b7280;
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder{
  color: #6b7280;
  opacity: 1;
}
input::placeholder,textarea::placeholder{
  color: #6b7280;
  opacity: 1;
}
::-webkit-datetime-edit-fields-wrapper{
  padding: 0;
}
::-webkit-date-and-time-value{
  min-height: 1.5em;
  text-align: inherit;
}
::-webkit-datetime-edit{
  display: inline-flex;
}
::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field{
  padding-top: 0;
  padding-bottom: 0;
}
select{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
}
[multiple],[size]:where(select:not([size="1"])){
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
          print-color-adjust: unset;
}
[type='checkbox'],[type='radio']{
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}
[type='checkbox']{
  border-radius: 0px;
}
[type='radio']{
  border-radius: 100%;
}
[type='checkbox']:focus,[type='radio']:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
[type='checkbox']:checked,[type='radio']:checked{
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
[type='checkbox']:checked{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
[type='radio']:checked{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}
[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus{
  border-color: transparent;
  background-color: currentColor;
}
[type='checkbox']:indeterminate{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus{
  border-color: transparent;
  background-color: currentColor;
}
[type='file']{
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}
[type='file']:focus{
  outline: 1px solid ButtonText;
  outline: 1px auto -webkit-focus-ring-color;
}
*{
  scrollbar-color: initial;
  scrollbar-width: initial;
}
*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.prose{
  color: #383637;
  max-width: 65ch;
}
.prose :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.prose :where([class~="lead"]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-lead);
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}
.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-links);
  text-decoration: underline;
  font-weight: 500;
}
.prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-bold);
  font-weight: 600;
}
.prose :where(a strong):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: inherit;
}
.prose :where(blockquote strong):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: inherit;
}
.prose :where(thead th strong):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: inherit;
}
.prose :where(ol):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}
.prose :where(ol[type="A"]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  list-style-type: upper-alpha;
}
.prose :where(ol[type="a"]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  list-style-type: lower-alpha;
}
.prose :where(ol[type="A" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  list-style-type: upper-alpha;
}
.prose :where(ol[type="a" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  list-style-type: lower-alpha;
}
.prose :where(ol[type="I"]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  list-style-type: upper-roman;
}
.prose :where(ol[type="i"]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  list-style-type: lower-roman;
}
.prose :where(ol[type="I" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  list-style-type: upper-roman;
}
.prose :where(ol[type="i" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  list-style-type: lower-roman;
}
.prose :where(ol[type="1"]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  list-style-type: decimal;
}
.prose :where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}
.prose :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker{
  font-weight: 400;
  color: var(--tw-prose-counters);
}
.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker{
  color: var(--tw-prose-bullets);
}
.prose :where(dt):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.25em;
}
.prose :where(hr):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  border-color: var(--tw-prose-hr);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}
.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-weight: 500;
  font-style: italic;
  color: var(--tw-prose-quotes);
  border-left-width: 0.25rem;
  border-left-color: var(--tw-prose-quote-borders);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}
.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::before{
  content: open-quote;
}
.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::after{
  content: close-quote;
}
.prose :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-headings);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}
.prose :where(h1 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-weight: 900;
  color: inherit;
}
.prose :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-headings);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
.prose :where(h2 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-weight: 800;
  color: inherit;
}
.prose :where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-headings);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}
.prose :where(h3 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-weight: 700;
  color: inherit;
}
.prose :where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
.prose :where(h4 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-weight: 700;
  color: inherit;
}
.prose :where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose :where(picture):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose :where(kbd):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-weight: 500;
  font-family: inherit;
  color: var(--tw-prose-kbd);
  box-shadow: 0 0 0 1px rgb(var(--tw-prose-kbd-shadows) / 10%), 0 3px 0 rgb(var(--tw-prose-kbd-shadows) / 10%);
  font-size: 0.875em;
  border-radius: 0.3125rem;
  padding-top: 0.1875em;
  padding-right: 0.375em;
  padding-bottom: 0.1875em;
  padding-left: 0.375em;
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-code);
  font-weight: 600;
  font-size: 0.875em;
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before{
  content: "`";
}
.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after{
  content: "`";
}
.prose :where(a code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: inherit;
}
.prose :where(h1 code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: inherit;
}
.prose :where(h2 code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: inherit;
  font-size: 0.875em;
}
.prose :where(h3 code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: inherit;
  font-size: 0.9em;
}
.prose :where(h4 code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: inherit;
}
.prose :where(blockquote code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: inherit;
}
.prose :where(thead th code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: inherit;
}
.prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-pre-code);
  background-color: var(--tw-prose-pre-bg);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-right: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-left: 1.1428571em;
}
.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before{
  content: none;
}
.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after{
  content: none;
}
.prose :where(table):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}
.prose :where(thead):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-th-borders);
}
.prose :where(thead th):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-headings);
  font-weight: 600;
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.prose :where(tbody tr):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-td-borders);
}
.prose :where(tbody tr:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  border-bottom-width: 0;
}
.prose :where(tbody td):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  vertical-align: baseline;
}
.prose :where(tfoot):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  border-top-width: 1px;
  border-top-color: var(--tw-prose-th-borders);
}
.prose :where(tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  vertical-align: top;
}
.prose :where(figure > *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
  margin-bottom: 0;
}
.prose :where(figcaption):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  color: var(--tw-prose-captions);
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}
.prose{
  --tw-prose-body: #374151;
  --tw-prose-headings: #111827;
  --tw-prose-lead: #4b5563;
  --tw-prose-links: #111827;
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-kbd: #111827;
  --tw-prose-kbd-shadows: 17 24 39;
  --tw-prose-code: #111827;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-kbd: #fff;
  --tw-prose-invert-kbd-shadows: 255 255 255;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
  font-size: 1rem;
  line-height: 1.75;
}
.prose :where(picture > img):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
  margin-bottom: 0;
}
.prose :where(video):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose :where(li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.prose :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-left: 0.375em;
}
.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-left: 0.375em;
}
.prose :where(.prose > ul > li p):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.prose :where(.prose > ul > li > *:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.25em;
}
.prose :where(.prose > ul > li > *:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-bottom: 1.25em;
}
.prose :where(.prose > ol > li > *:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.25em;
}
.prose :where(.prose > ol > li > *:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-bottom: 1.25em;
}
.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.prose :where(dl):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.prose :where(dd):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0.5em;
  padding-left: 1.625em;
}
.prose :where(hr + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
}
.prose :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
}
.prose :where(h3 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
}
.prose :where(h4 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
}
.prose :where(thead th:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-left: 0;
}
.prose :where(thead th:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-right: 0;
}
.prose :where(tbody td, tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.prose :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-left: 0;
}
.prose :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-right: 0;
}
.prose :where(figure):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 2em;
  margin-bottom: 2em;
}
.prose :where(.prose > :first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
}
.prose :where(.prose > :last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-bottom: 0;
}
.prose :where(h1, h2, h3, h4):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-weight: 400;
}
.prose-lg{
  font-size: 1.125rem;
  line-height: 1.7777778;
}
.prose-lg :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
}
.prose-lg :where([class~="lead"]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-size: 1.2222222em;
  line-height: 1.4545455;
  margin-top: 1.0909091em;
  margin-bottom: 1.0909091em;
}
.prose-lg :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.6666667em;
  margin-bottom: 1.6666667em;
  padding-left: 1em;
}
.prose-lg :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-size: 2.6666667em;
  margin-top: 0;
  margin-bottom: 0.8333333em;
  line-height: 1;
}
.prose-lg :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-size: 1.6666667em;
  margin-top: 1.8666667em;
  margin-bottom: 1.0666667em;
  line-height: 1.3333333;
}
.prose-lg :where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-size: 1.3333333em;
  margin-top: 1.6666667em;
  margin-bottom: 0.6666667em;
  line-height: 1.5;
}
.prose-lg :where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.7777778em;
  margin-bottom: 0.4444444em;
  line-height: 1.5555556;
}
.prose-lg :where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
}
.prose-lg :where(picture):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
}
.prose-lg :where(picture > img):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
  margin-bottom: 0;
}
.prose-lg :where(video):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
}
.prose-lg :where(kbd):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-size: 0.8888889em;
  border-radius: 0.3125rem;
  padding-top: 0.2222222em;
  padding-right: 0.4444444em;
  padding-bottom: 0.2222222em;
  padding-left: 0.4444444em;
}
.prose-lg :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-size: 0.8888889em;
}
.prose-lg :where(h2 code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-size: 0.8666667em;
}
.prose-lg :where(h3 code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-size: 0.875em;
}
.prose-lg :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-size: 0.8888889em;
  line-height: 1.75;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 0.375rem;
  padding-top: 1em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  padding-left: 1.5em;
}
.prose-lg :where(ol):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
  padding-left: 1.5555556em;
}
.prose-lg :where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
  padding-left: 1.5555556em;
}
.prose-lg :where(li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0.6666667em;
  margin-bottom: 0.6666667em;
}
.prose-lg :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-left: 0.4444444em;
}
.prose-lg :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-left: 0.4444444em;
}
.prose-lg :where(.prose-lg > ul > li p):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0.8888889em;
  margin-bottom: 0.8888889em;
}
.prose-lg :where(.prose-lg > ul > li > *:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.3333333em;
}
.prose-lg :where(.prose-lg > ul > li > *:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-bottom: 1.3333333em;
}
.prose-lg :where(.prose-lg > ol > li > *:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.3333333em;
}
.prose-lg :where(.prose-lg > ol > li > *:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-bottom: 1.3333333em;
}
.prose-lg :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0.8888889em;
  margin-bottom: 0.8888889em;
}
.prose-lg :where(dl):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.3333333em;
  margin-bottom: 1.3333333em;
}
.prose-lg :where(dt):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.3333333em;
}
.prose-lg :where(dd):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0.6666667em;
  padding-left: 1.5555556em;
}
.prose-lg :where(hr):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 3.1111111em;
  margin-bottom: 3.1111111em;
}
.prose-lg :where(hr + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
}
.prose-lg :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
}
.prose-lg :where(h3 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
}
.prose-lg :where(h4 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
}
.prose-lg :where(table):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-size: 0.8888889em;
  line-height: 1.5;
}
.prose-lg :where(thead th):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
}
.prose-lg :where(thead th:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-left: 0;
}
.prose-lg :where(thead th:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-right: 0;
}
.prose-lg :where(tbody td, tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-top: 0.75em;
  padding-right: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 0.75em;
}
.prose-lg :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-left: 0;
}
.prose-lg :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  padding-right: 0;
}
.prose-lg :where(figure):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 1.7777778em;
  margin-bottom: 1.7777778em;
}
.prose-lg :where(figure > *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
  margin-bottom: 0;
}
.prose-lg :where(figcaption):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  font-size: 0.8888889em;
  line-height: 1.5;
  margin-top: 1em;
}
.prose-lg :where(.prose-lg > :first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-top: 0;
}
.prose-lg :where(.prose-lg > :last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
  margin-bottom: 0;
}
.prose-invert{
  --tw-prose-body: var(--tw-prose-invert-body);
  --tw-prose-headings: var(--tw-prose-invert-headings);
  --tw-prose-lead: var(--tw-prose-invert-lead);
  --tw-prose-links: var(--tw-prose-invert-links);
  --tw-prose-bold: var(--tw-prose-invert-bold);
  --tw-prose-counters: var(--tw-prose-invert-counters);
  --tw-prose-bullets: var(--tw-prose-invert-bullets);
  --tw-prose-hr: var(--tw-prose-invert-hr);
  --tw-prose-quotes: var(--tw-prose-invert-quotes);
  --tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
  --tw-prose-captions: var(--tw-prose-invert-captions);
  --tw-prose-kbd: var(--tw-prose-invert-kbd);
  --tw-prose-kbd-shadows: var(--tw-prose-invert-kbd-shadows);
  --tw-prose-code: var(--tw-prose-invert-code);
  --tw-prose-pre-code: var(--tw-prose-invert-pre-code);
  --tw-prose-pre-bg: var(--tw-prose-invert-pre-bg);
  --tw-prose-th-borders: var(--tw-prose-invert-th-borders);
  --tw-prose-td-borders: var(--tw-prose-invert-td-borders);
}
.static{
  position: static;
}
.fixed{
  position: fixed;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.inset-0{
  inset: 0px;
}
.\!left-full{
  left: 100% !important;
}
.-bottom-12{
  bottom: -3rem;
}
.-bottom-4{
  bottom: -1rem;
}
.-bottom-8{
  bottom: -2rem;
}
.-end-8{
  inset-inline-end: -2rem;
}
.-left-6{
  left: -1.5rem;
}
.-left-8{
  left: -2rem;
}
.-right-6{
  right: -1.5rem;
}
.-start-8{
  inset-inline-start: -2rem;
}
.-top-16{
  top: -4rem;
}
.-top-32{
  top: -8rem;
}
.-top-8{
  top: -2rem;
}
.bottom-0{
  bottom: 0px;
}
.bottom-8{
  bottom: 2rem;
}
.end-0{
  inset-inline-end: 0px;
}
.end-8{
  inset-inline-end: 2rem;
}
.left-0{
  left: 0px;
}
.left-1\/2{
  left: 50%;
}
.left-8{
  left: 2rem;
}
.right-0{
  right: 0px;
}
.right-8{
  right: 2rem;
}
.start-8{
  inset-inline-start: 2rem;
}
.top-0{
  top: 0px;
}
.top-1\/2{
  top: 50%;
}
.top-1\/3{
  top: 33.333333%;
}
.top-32{
  top: 8rem;
}
.top-8{
  top: 2rem;
}
.top-full{
  top: 100%;
}
.-z-1{
  z-index: -1;
}
.-z-10{
  z-index: -10;
}
.z-1{
  z-index: 1;
}
.z-10{
  z-index: 10;
}
.order-1{
  order: 1;
}
.order-2{
  order: 2;
}
.col-span-3{
  grid-column: span 3 / span 3;
}
.col-span-4{
  grid-column: span 4 / span 4;
}
.row-span-2{
  grid-row: span 2 / span 2;
}
.m-2{
  margin: 0.5rem;
}
.-mx-4{
  margin-left: -1rem;
  margin-right: -1rem;
}
.-my-8{
  margin-top: -2rem;
  margin-bottom: -2rem;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.my-1{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-16{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-6{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.\!mb-0{
  margin-bottom: 0px !important;
}
.-ml-8{
  margin-left: -2rem;
}
.-mt-1{
  margin-top: -0.25rem;
}
.-mt-16{
  margin-top: -4rem;
}
.-mt-24{
  margin-top: -6rem;
}
.mb-0{
  margin-bottom: 0px;
}
.mb-12{
  margin-bottom: 3rem;
}
.mb-2{
  margin-bottom: 0.5rem;
}
.mb-6{
  margin-bottom: 1.5rem;
}
.mb-8{
  margin-bottom: 2rem;
}
.ml-auto{
  margin-left: auto;
}
.mr-2{
  margin-right: 0.5rem;
}
.mt-0{
  margin-top: 0px;
}
.mt-12{
  margin-top: 3rem;
}
.mt-16{
  margin-top: 4rem;
}
.mt-4{
  margin-top: 1rem;
}
.mt-6{
  margin-top: 1.5rem;
}
.mt-8{
  margin-top: 2rem;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.inline{
  display: inline;
}
.flex{
  display: flex;
}
.table{
  display: table;
}
.grid{
  display: grid;
}
.hidden{
  display: none;
}
.aspect-16\/10{
  aspect-ratio: 16 / 10;
}
.aspect-2\/1{
  aspect-ratio: 2 / 1;
}
.aspect-5\/6{
  aspect-ratio: 5 / 6;
}
.aspect-square{
  aspect-ratio: 1 / 1;
}
.h-16{
  height: 4rem;
}
.h-24{
  height: 6rem;
}
.h-36{
  height: 9rem;
}
.h-6{
  height: 1.5rem;
}
.h-8{
  height: 2rem;
}
.h-auto{
  height: auto;
}
.h-banner{
  height: clamp(540px, 100vh, 540px);
}
.h-full{
  height: 100%;
}
.max-h-full{
  max-height: 100%;
}
.\!w-full{
  width: 100% !important;
}
.w-1\/2{
  width: 50%;
}
.w-16{
  width: 4rem;
}
.w-2\/3{
  width: 66.666667%;
}
.w-24{
  width: 6rem;
}
.w-36{
  width: 9rem;
}
.w-4\/5{
  width: 80%;
}
.w-6{
  width: 1.5rem;
}
.w-full{
  width: 100%;
}
.min-w-max{
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}
.max-w-\[120px\]{
  max-width: 120px;
}
.max-w-\[1440px\]{
  max-width: 1440px;
}
.max-w-full{
  max-width: 100%;
}
.max-w-md{
  max-width: 28rem;
}
.max-w-none{
  max-width: none;
}
.max-w-xs{
  max-width: 20rem;
}
.flex-1{
  flex: 1 1 0%;
}
.shrink-0{
  flex-shrink: 0;
}
.table-auto{
  table-layout: auto;
}
.origin-top{
  transform-origin: top;
}
.-translate-x-1\/2{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/3{
  --tw-translate-y: -33.333333%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-rotate-45{
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-75{
  --tw-scale-x: .75;
  --tw-scale-y: .75;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-y-100{
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-y-90{
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.resize{
  resize: both;
}
.list-none{
  list-style-type: none;
}
.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-start{
  align-items: flex-start;
}
.items-end{
  align-items: flex-end;
}
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-between{
  justify-content: space-between;
}
.gap-10{
  gap: 2.5rem;
}
.gap-2{
  gap: 0.5rem;
}
.gap-3{
  gap: 0.75rem;
}
.gap-4{
  gap: 1rem;
}
.gap-8{
  gap: 2rem;
}
.overflow-hidden{
  overflow: hidden;
}
.overflow-y-auto{
  overflow-y: auto;
}
.overflow-x-hidden{
  overflow-x: hidden;
}
.rounded-full{
  border-radius: 9999px;
}
.border{
  border-width: 1px;
}
.border-b-3{
  border-bottom-width: 3px;
}
.border-b-4{
  border-bottom-width: 4px;
}
.border-l-4{
  border-left-width: 4px;
}
.border-r-4{
  border-right-width: 4px;
}
.border-t-4{
  border-top-width: 4px;
}
.\!border-teak{
  --tw-border-opacity: 1 !important;
  border-color: rgb(174 152 102 / var(--tw-border-opacity)) !important;
}
.border-mineshaft{
  --tw-border-opacity: 1;
  border-color: rgb(56 54 55 / var(--tw-border-opacity));
}
.border-teak{
  --tw-border-opacity: 1;
  border-color: rgb(174 152 102 / var(--tw-border-opacity));
}
.border-transparent{
  border-color: transparent;
}
.bg-gray-500{
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}
.bg-mineshaft{
  --tw-bg-opacity: 1;
  background-color: rgb(56 54 55 / var(--tw-bg-opacity));
}
.bg-pearlbush{
  --tw-bg-opacity: 1;
  background-color: rgb(238 233 223 / var(--tw-bg-opacity));
}
.bg-teak{
  --tw-bg-opacity: 1;
  background-color: rgb(174 152 102 / var(--tw-bg-opacity));
}
.bg-transparent{
  background-color: transparent;
}
.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.\!bg-none{
  background-image: none !important;
}
.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}
.object-center{
  -o-object-position: center;
     object-position: center;
}
.p-4{
  padding: 1rem;
}
.p-8{
  padding: 2rem;
}
.px-10{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-2{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-16{
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-32{
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.\!pl-0{
  padding-left: 0px !important;
}
.\!pr-28{
  padding-right: 7rem !important;
}
.pb-2{
  padding-bottom: 0.5rem;
}
.pb-4{
  padding-bottom: 1rem;
}
.pb-8{
  padding-bottom: 2rem;
}
.pe-8{
  -webkit-padding-end: 2rem;
          padding-inline-end: 2rem;
}
.pl-0{
  padding-left: 0px;
}
.pr-4{
  padding-right: 1rem;
}
.ps-4{
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
}
.ps-8{
  -webkit-padding-start: 2rem;
          padding-inline-start: 2rem;
}
.pt-8{
  padding-top: 2rem;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.font-lexend-deca{
  font-family: "Lexend Deca", sans-serif;
}
.font-muli{
  font-family: "Muli", sans-serif;
}
.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl{
  font-size: 3rem;
  line-height: 1;
}
.text-7xl{
  font-size: 4.5rem;
  line-height: 1;
}
.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-bold{
  font-weight: 700;
}
.font-normal{
  font-weight: 400;
}
.uppercase{
  text-transform: uppercase;
}
.italic{
  font-style: italic;
}
.\!leading-loose{
  line-height: 2 !important;
}
.\!leading-none{
  line-height: 1 !important;
}
.\!leading-relaxed{
  line-height: 1.625 !important;
}
.text-mineshaft{
  --tw-text-opacity: 1;
  color: rgb(56 54 55 / var(--tw-text-opacity));
}
.text-teak{
  --tw-text-opacity: 1;
  color: rgb(174 152 102 / var(--tw-text-opacity));
}
.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.opacity-0{
  opacity: 0;
}
.opacity-100{
  opacity: 1;
}
.shadow-2xl{
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.brightness-50{
  --tw-brightness: brightness(.5);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.brightness-75{
  --tw-brightness: brightness(.75);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.duration-150{
  transition-duration: 150ms;
}
.duration-300{
  transition-duration: 300ms;
}
.duration-75{
  transition-duration: 75ms;
}
.ease-in{
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out{
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
/* vietnamese */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lexend Deca Regular"), local("LexendDeca-Regular"), url(https://fonts.gstatic.com/s/lexenddeca/v3/K2F1fZFYk-dHSE0UPPuwQ5qoJy_KZA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lexend Deca Regular"), local("LexendDeca-Regular"), url(https://fonts.gstatic.com/s/lexenddeca/v3/K2F1fZFYk-dHSE0UPPuwQ5qpJy_KZA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Lexend Deca Regular"), local("LexendDeca-Regular"), url(https://fonts.gstatic.com/s/lexenddeca/v3/K2F1fZFYk-dHSE0UPPuwQ5qnJy8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Aulp_0qiz-aVz7u3PJLcUMYOFkQl0k40eiNxw.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Aulp_0qiz-aVz7u3PJLcUMYOFkQl0k50eiNxw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Aulp_0qiz-aVz7u3PJLcUMYOFkQl0k30eg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* vietnamese */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Aulp_0qiz-aVz7u3PJLcUMYOFlOl0k40eiNxw.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Aulp_0qiz-aVz7u3PJLcUMYOFlOl0k50eiNxw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v22/7Aulp_0qiz-aVz7u3PJLcUMYOFlOl0k30eg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.page-banner .h-banner{
  display: none;
}
@media not all and (min-width: 576px){
  .page-banner .h-banner{
    height: auto;
  }
}
.page-banner.slick-initialized .h-banner,
.page-banner .h-banner:first-of-type{
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

body a{
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

blockquote{
  position: relative;
  --tw-border-opacity: 1;
  border-color: rgb(174 152 102 / var(--tw-border-opacity));
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  font-style: normal;
  line-height: 2;
  --tw-text-opacity: 1;
  color: rgb(174 152 102 / var(--tw-text-opacity));
}

@media (min-width: 1920px){
  blockquote{
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 2160px){
  blockquote{
    font-size: 3.75rem;
    line-height: 1;
  }
}

@media (min-width: 2560px){
  blockquote{
    font-size: 4.5rem;
    line-height: 1;
  }
}
blockquote p:before, blockquote p:after{
  display: none;
}

.slick-list{
  height: 100%;
}

#sponsor_slider .slick-track{
  align-items: center;
}

@media (min-width: 768px){
  #sponsor_slider .slick-track{
    display: flex;
  }
}

.slick-initialized .slick-slide{
  overflow: hidden;
}

.slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li{
  margin: 0.5rem;
  line-height: 1;
  font-size: 0;
}
.slick-dots button{
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(174 152 102 / var(--tw-border-opacity));
}
.slick-dots button:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(56 54 55 / var(--tw-bg-opacity));
}
.slick-dots .slick-active button{
  --tw-bg-opacity: 1;
  background-color: rgb(174 152 102 / var(--tw-bg-opacity));
}

.slider-navigation{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.slider-navigation .arrow-previous{
  order: 1;
}
.slider-navigation .slick-dots{
  order: 2;
}
.slider-navigation .arrow-next{
  order: 3;
}

.facetwp-dropdown {
  background-position: right 2rem center;
}

.facetwp-radio.checked{
  --tw-border-opacity: 1;
  border-color: rgb(174 152 102 / var(--tw-border-opacity));
}

.sbx-embedded-form iframe{
  margin-left: auto;
  margin-right: auto;
}

.wp-block-heading.is-style-cmau-section{
  border-bottom-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(174 152 102 / var(--tw-border-opacity));
  padding-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(174 152 102 / var(--tw-text-opacity));
}

@media (min-width: 1600px){
  .wp-block-heading.is-style-cmau-section{
    padding-bottom: 1.5rem;
  }
}

@media (min-width: 1920px){
  .wp-block-heading.is-style-cmau-section{
    border-bottom-width: 6px;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 2160px){
  .wp-block-heading.is-style-cmau-section{
    padding-bottom: 2rem;
    font-size: 3rem;
    line-height: 1;
  }
}

@media (min-width: 2560px){
  .wp-block-heading.is-style-cmau-section{
    border-bottom-width: 8px;
    font-size: 3.75rem;
    line-height: 1;
  }
}

[x-cloak]{
  display: none !important;
}

.wp-block-button > .wp-block-button__link{
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.wp-block-quote:first-child p{
  margin-top: 0px;
}

@media (min-width: 1920px){
  .gform_footer > .gform_button{
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
  }
}

@media (min-width: 2160px){
  .gform_footer > .gform_button{
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }
}

@media (min-width: 2560px){
  .gform_footer > .gform_button{
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }
}

.gform_footer > .gform_button{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 1600px){
  .gform_footer > .gform_button{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 2160px){
  .gform_footer > .gform_button{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

.gform_footer > .gform_button{
  --tw-bg-opacity: 1;
  background-color: rgb(174 152 102 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.gform_footer > .gform_button:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(56 54 55 / var(--tw-bg-opacity));
}

.gform_footer > .gform_button{
  cursor: pointer;
}

@media (min-width: 1440px){
  .\32xl\:prose-xl{
    font-size: 1.25rem;
    line-height: 1.8;
  }
  .\32xl\:prose-xl :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }
  .\32xl\:prose-xl :where([class~="lead"]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .\32xl\:prose-xl :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1.0666667em;
  }
  .\32xl\:prose-xl :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 2.8em;
    margin-top: 0;
    margin-bottom: 0.8571429em;
    line-height: 1;
  }
  .\32xl\:prose-xl :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 1.8em;
    margin-top: 1.5555556em;
    margin-bottom: 0.8888889em;
    line-height: 1.1111111;
  }
  .\32xl\:prose-xl :where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 1.5em;
    margin-top: 1.6em;
    margin-bottom: 0.6666667em;
    line-height: 1.3333333;
  }
  .\32xl\:prose-xl :where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.8em;
    margin-bottom: 0.6em;
    line-height: 1.6;
  }
  .\32xl\:prose-xl :where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .\32xl\:prose-xl :where(picture):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .\32xl\:prose-xl :where(picture > img):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
    margin-bottom: 0;
  }
  .\32xl\:prose-xl :where(video):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .\32xl\:prose-xl :where(kbd):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.9em;
    border-radius: 0.3125rem;
    padding-top: 0.25em;
    padding-right: 0.4em;
    padding-bottom: 0.25em;
    padding-left: 0.4em;
  }
  .\32xl\:prose-xl :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.9em;
  }
  .\32xl\:prose-xl :where(h2 code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.8611111em;
  }
  .\32xl\:prose-xl :where(h3 code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.9em;
  }
  .\32xl\:prose-xl :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.9em;
    line-height: 1.7777778;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.5rem;
    padding-top: 1.1111111em;
    padding-right: 1.3333333em;
    padding-bottom: 1.1111111em;
    padding-left: 1.3333333em;
  }
  .\32xl\:prose-xl :where(ol):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-left: 1.6em;
  }
  .\32xl\:prose-xl :where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    padding-left: 1.6em;
  }
  .\32xl\:prose-xl :where(li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }
  .\32xl\:prose-xl :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-left: 0.4em;
  }
  .\32xl\:prose-xl :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-left: 0.4em;
  }
  .\32xl\:prose-xl :where(.\32xl\:prose-xl > ul > li p):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
  .\32xl\:prose-xl :where(.\32xl\:prose-xl > ul > li > *:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.2em;
  }
  .\32xl\:prose-xl :where(.\32xl\:prose-xl > ul > li > *:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-bottom: 1.2em;
  }
  .\32xl\:prose-xl :where(.\32xl\:prose-xl > ol > li > *:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.2em;
  }
  .\32xl\:prose-xl :where(.\32xl\:prose-xl > ol > li > *:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-bottom: 1.2em;
  }
  .\32xl\:prose-xl :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }
  .\32xl\:prose-xl :where(dl):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }
  .\32xl\:prose-xl :where(dt):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.2em;
  }
  .\32xl\:prose-xl :where(dd):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0.6em;
    padding-left: 1.6em;
  }
  .\32xl\:prose-xl :where(hr):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 2.8em;
    margin-bottom: 2.8em;
  }
  .\32xl\:prose-xl :where(hr + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
  }
  .\32xl\:prose-xl :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
  }
  .\32xl\:prose-xl :where(h3 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
  }
  .\32xl\:prose-xl :where(h4 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
  }
  .\32xl\:prose-xl :where(table):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.9em;
    line-height: 1.5555556;
  }
  .\32xl\:prose-xl :where(thead th):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-right: 0.6666667em;
    padding-bottom: 0.8888889em;
    padding-left: 0.6666667em;
  }
  .\32xl\:prose-xl :where(thead th:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-left: 0;
  }
  .\32xl\:prose-xl :where(thead th:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-right: 0;
  }
  .\32xl\:prose-xl :where(tbody td, tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-top: 0.8888889em;
    padding-right: 0.6666667em;
    padding-bottom: 0.8888889em;
    padding-left: 0.6666667em;
  }
  .\32xl\:prose-xl :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-left: 0;
  }
  .\32xl\:prose-xl :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-right: 0;
  }
  .\32xl\:prose-xl :where(figure):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .\32xl\:prose-xl :where(figure > *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
    margin-bottom: 0;
  }
  .\32xl\:prose-xl :where(figcaption):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.9em;
    line-height: 1.5555556;
    margin-top: 1em;
  }
  .\32xl\:prose-xl :where(.\32xl\:prose-xl > :first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
  }
  .\32xl\:prose-xl :where(.\32xl\:prose-xl > :last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-bottom: 0;
  }
}

@media (min-width: 1920px){
  .\34xl\:prose-2xl{
    font-size: 1.5rem;
    line-height: 1.6666667;
  }
  .\34xl\:prose-2xl :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
  }
  .\34xl\:prose-2xl :where([class~="lead"]):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 1.25em;
    line-height: 1.4666667;
    margin-top: 1.0666667em;
    margin-bottom: 1.0666667em;
  }
  .\34xl\:prose-2xl :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.7777778em;
    margin-bottom: 1.7777778em;
    padding-left: 1.1111111em;
  }
  .\34xl\:prose-2xl :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 2.6666667em;
    margin-top: 0;
    margin-bottom: 0.875em;
    line-height: 1;
  }
  .\34xl\:prose-2xl :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: 0.8333333em;
    line-height: 1.0833333;
  }
  .\34xl\:prose-2xl :where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 1.5em;
    margin-top: 1.5555556em;
    margin-bottom: 0.6666667em;
    line-height: 1.2222222;
  }
  .\34xl\:prose-2xl :where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.6666667em;
    margin-bottom: 0.6666667em;
    line-height: 1.5;
  }
  .\34xl\:prose-2xl :where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .\34xl\:prose-2xl :where(picture):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .\34xl\:prose-2xl :where(picture > img):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
    margin-bottom: 0;
  }
  .\34xl\:prose-2xl :where(video):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .\34xl\:prose-2xl :where(kbd):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.8333333em;
    border-radius: 0.375rem;
    padding-top: 0.25em;
    padding-right: 0.3333333em;
    padding-bottom: 0.25em;
    padding-left: 0.3333333em;
  }
  .\34xl\:prose-2xl :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.8333333em;
  }
  .\34xl\:prose-2xl :where(h2 code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.875em;
  }
  .\34xl\:prose-2xl :where(h3 code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.8888889em;
  }
  .\34xl\:prose-2xl :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.8333333em;
    line-height: 1.8;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 0.5rem;
    padding-top: 1.2em;
    padding-right: 1.6em;
    padding-bottom: 1.2em;
    padding-left: 1.6em;
  }
  .\34xl\:prose-2xl :where(ol):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-left: 1.5833333em;
  }
  .\34xl\:prose-2xl :where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
    padding-left: 1.5833333em;
  }
  .\34xl\:prose-2xl :where(li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .\34xl\:prose-2xl :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-left: 0.4166667em;
  }
  .\34xl\:prose-2xl :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-left: 0.4166667em;
  }
  .\34xl\:prose-2xl :where(.\34xl\:prose-2xl > ul > li p):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0.8333333em;
    margin-bottom: 0.8333333em;
  }
  .\34xl\:prose-2xl :where(.\34xl\:prose-2xl > ul > li > *:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.3333333em;
  }
  .\34xl\:prose-2xl :where(.\34xl\:prose-2xl > ul > li > *:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-bottom: 1.3333333em;
  }
  .\34xl\:prose-2xl :where(.\34xl\:prose-2xl > ol > li > *:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.3333333em;
  }
  .\34xl\:prose-2xl :where(.\34xl\:prose-2xl > ol > li > *:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-bottom: 1.3333333em;
  }
  .\34xl\:prose-2xl :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0.6666667em;
    margin-bottom: 0.6666667em;
  }
  .\34xl\:prose-2xl :where(dl):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.3333333em;
    margin-bottom: 1.3333333em;
  }
  .\34xl\:prose-2xl :where(dt):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 1.3333333em;
  }
  .\34xl\:prose-2xl :where(dd):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0.5em;
    padding-left: 1.5833333em;
  }
  .\34xl\:prose-2xl :where(hr):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .\34xl\:prose-2xl :where(hr + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
  }
  .\34xl\:prose-2xl :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
  }
  .\34xl\:prose-2xl :where(h3 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
  }
  .\34xl\:prose-2xl :where(h4 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
  }
  .\34xl\:prose-2xl :where(table):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.8333333em;
    line-height: 1.4;
  }
  .\34xl\:prose-2xl :where(thead th):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-right: 0.6em;
    padding-bottom: 0.8em;
    padding-left: 0.6em;
  }
  .\34xl\:prose-2xl :where(thead th:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-left: 0;
  }
  .\34xl\:prose-2xl :where(thead th:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-right: 0;
  }
  .\34xl\:prose-2xl :where(tbody td, tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-top: 0.8em;
    padding-right: 0.6em;
    padding-bottom: 0.8em;
    padding-left: 0.6em;
  }
  .\34xl\:prose-2xl :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-left: 0;
  }
  .\34xl\:prose-2xl :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    padding-right: 0;
  }
  .\34xl\:prose-2xl :where(figure):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .\34xl\:prose-2xl :where(figure > *):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
    margin-bottom: 0;
  }
  .\34xl\:prose-2xl :where(figcaption):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    font-size: 0.8333333em;
    line-height: 1.6;
    margin-top: 1em;
  }
  .\34xl\:prose-2xl :where(.\34xl\:prose-2xl > :first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-top: 0;
  }
  .\34xl\:prose-2xl :where(.\34xl\:prose-2xl > :last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    margin-bottom: 0;
  }
}

.group:hover .group-hover\:border-teak{
  --tw-border-opacity: 1;
  border-color: rgb(174 152 102 / var(--tw-border-opacity));
}

.group:hover .group-hover\:brightness-50{
  --tw-brightness: brightness(.5);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.prose-headings\:leading-relaxed :is(:where(h1, h2, h3, h4, h5, h6, th):not(:where([class~="not-prose"],[class~="not-prose"] *))){
  line-height: 1.625;
}

.prose-blockquote\:border-l-teak :is(:where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *))){
  --tw-border-opacity: 1;
  border-left-color: rgb(174 152 102 / var(--tw-border-opacity));
}

.prose-blockquote\:not-italic :is(:where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *))){
  font-style: normal;
}

.prose-blockquote\:leading-tight :is(:where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *))){
  line-height: 1.25;
}

.prose-blockquote\:text-teak :is(:where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *))){
  --tw-text-opacity: 1;
  color: rgb(174 152 102 / var(--tw-text-opacity));
}

.hover\:border-mineshaft:hover{
  --tw-border-opacity: 1;
  border-color: rgb(56 54 55 / var(--tw-border-opacity));
}

.hover\:border-teak:hover{
  --tw-border-opacity: 1;
  border-color: rgb(174 152 102 / var(--tw-border-opacity));
}

.hover\:border-transparent:hover{
  border-color: transparent;
}

.hover\:border-white:hover{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.hover\:bg-mineshaft:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(56 54 55 / var(--tw-bg-opacity));
}

.hover\:bg-white:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.hover\:text-mineshaft:hover{
  --tw-text-opacity: 1;
  color: rgb(56 54 55 / var(--tw-text-opacity));
}

.hover\:text-teak:hover{
  --tw-text-opacity: 1;
  color: rgb(174 152 102 / var(--tw-text-opacity));
}

.hover\:text-white:hover{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.focus\:border-teak:focus{
  --tw-border-opacity: 1;
  border-color: rgb(174 152 102 / var(--tw-border-opacity));
}

.focus\:text-teak:focus{
  --tw-text-opacity: 1;
  color: rgb(174 152 102 / var(--tw-text-opacity));
}

.focus\:ring-0:focus{
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-offset-0:focus{
  --tw-ring-offset-width: 0px;
}

@media not all and (min-width: 1440px){
  .max-2xl\:pt-8{
    padding-top: 2rem;
  }
}

@media not all and (min-width: 1280px){
  .max-xl\:mb-6{
    margin-bottom: 1.5rem;
  }
}

@media not all and (min-width: 768px){
  .max-md\:flex-col{
    flex-direction: column;
  }
}

@media not all and (min-width: 576px){
  .max-sm\:w-full{
    width: 100%;
  }
  .max-sm\:flex-col{
    flex-direction: column;
  }
  .max-sm\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@media not all and (min-width: 360px){
  .max-xs\:flex-col{
    flex-direction: column;
  }
  .max-xs\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .max-xs\:py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .max-xs\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .max-xs\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .max-xs\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 360px){
  .xs\:block{
    display: block;
  }
  .xs\:max-w-\[150px\]{
    max-width: 150px;
  }
}

@media (min-width: 576px){
  .sm\:flex{
    display: flex;
  }
  .sm\:max-w-\[200px\]{
    max-width: 200px;
  }
  .sm\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sm\:items-center{
    align-items: center;
  }
  .sm\:gap-4{
    gap: 1rem;
  }
  .sm\:border{
    border-width: 1px;
  }
  .sm\:border-mineshaft{
    --tw-border-opacity: 1;
    border-color: rgb(56 54 55 / var(--tw-border-opacity));
  }
  .sm\:py-0{
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 768px){
  .md\:-bottom-16{
    bottom: -4rem;
  }
  .md\:-bottom-8{
    bottom: -2rem;
  }
  .md\:-start-20{
    inset-inline-start: -5rem;
  }
  .md\:-top-8{
    top: -2rem;
  }
  .md\:-my-12{
    margin-top: -3rem;
    margin-bottom: -3rem;
  }
  .md\:my-0{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .md\:my-12{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .md\:-ml-16{
    margin-left: -4rem;
  }
  .md\:mt-6{
    margin-top: 1.5rem;
  }
  .md\:flex{
    display: flex;
  }
  .md\:w-1\/3{
    width: 33.333333%;
  }
  .md\:w-2\/3{
    width: 66.666667%;
  }
  .md\:w-3\/5{
    width: 60%;
  }
  .md\:max-w-none{
    max-width: none;
  }
  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:grid-cols-7{
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .md\:grid-rows-2{
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }
  .md\:gap-16{
    gap: 4rem;
  }
  .md\:gap-8{
    gap: 2rem;
  }
  .md\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .md\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .md\:py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .md\:\!ps-0{
    -webkit-padding-start: 0px !important;
            padding-inline-start: 0px !important;
  }
  .md\:pr-8{
    padding-right: 2rem;
  }
  .md\:ps-8{
    -webkit-padding-start: 2rem;
            padding-inline-start: 2rem;
  }
  .md\:pt-0{
    padding-top: 0px;
  }
}

@media (min-width: 1024px){
  .lg\:flex{
    display: flex;
  }
  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .lg\:py-0{
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (min-width: 1280px){
  .xl\:-bottom-12{
    bottom: -3rem;
  }
  .xl\:-bottom-24{
    bottom: -6rem;
  }
  .xl\:-end-12{
    inset-inline-end: -3rem;
  }
  .xl\:-end-16{
    inset-inline-end: -4rem;
  }
  .xl\:-start-12{
    inset-inline-start: -3rem;
  }
  .xl\:-start-16{
    inset-inline-start: -4rem;
  }
  .xl\:-start-24{
    inset-inline-start: -6rem;
  }
  .xl\:-top-12{
    top: -3rem;
  }
  .xl\:left-12{
    left: 3rem;
  }
  .xl\:right-12{
    right: 3rem;
  }
  .xl\:top-12{
    top: 3rem;
  }
  .xl\:col-span-3{
    grid-column: span 3 / span 3;
  }
  .xl\:col-span-4{
    grid-column: span 4 / span 4;
  }
  .xl\:-my-16{
    margin-top: -4rem;
    margin-bottom: -4rem;
  }
  .xl\:my-10{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .xl\:my-16{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .xl\:my-8{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .xl\:-ml-32{
    margin-left: -8rem;
  }
  .xl\:mt-12{
    margin-top: 3rem;
  }
  .xl\:block{
    display: block;
  }
  .xl\:flex{
    display: flex;
  }
  .xl\:grid{
    display: grid;
  }
  .xl\:hidden{
    display: none;
  }
  .xl\:h-12{
    height: 3rem;
  }
  .xl\:h-8{
    height: 2rem;
  }
  .xl\:w-1\/2{
    width: 50%;
  }
  .xl\:w-8{
    width: 2rem;
  }
  .xl\:grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl\:grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .xl\:grid-cols-7{
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  .xl\:gap-16{
    gap: 4rem;
  }
  .xl\:gap-4{
    gap: 1rem;
  }
  .xl\:gap-6{
    gap: 1.5rem;
  }
  .xl\:gap-8{
    gap: 2rem;
  }
  .xl\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .xl\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .xl\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .xl\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .xl\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .xl\:py-6{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .xl\:py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .xl\:pb-12{
    padding-bottom: 3rem;
  }
  .xl\:pe-0{
    -webkit-padding-end: 0px;
            padding-inline-end: 0px;
  }
  .xl\:pe-8{
    -webkit-padding-end: 2rem;
            padding-inline-end: 2rem;
  }
  .xl\:ps-0{
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
  .xl\:ps-8{
    -webkit-padding-start: 2rem;
            padding-inline-start: 2rem;
  }
  .xl\:pt-16{
    padding-top: 4rem;
  }
  .xl\:text-8xl{
    font-size: 6rem;
    line-height: 1;
  }
}

@media (min-width: 1440px){
  .\32xl\:-bottom-16{
    bottom: -4rem;
  }
  .\32xl\:-end-16{
    inset-inline-end: -4rem;
  }
  .\32xl\:-end-32{
    inset-inline-end: -8rem;
  }
  .\32xl\:-start-16{
    inset-inline-start: -4rem;
  }
  .\32xl\:-start-32{
    inset-inline-start: -8rem;
  }
  .\32xl\:-top-16{
    top: -4rem;
  }
  .\32xl\:-top-64{
    top: -16rem;
  }
  .\32xl\:bottom-16{
    bottom: 4rem;
  }
  .\32xl\:end-16{
    inset-inline-end: 4rem;
  }
  .\32xl\:right-4{
    right: 1rem;
  }
  .\32xl\:start-16{
    inset-inline-start: 4rem;
  }
  .\32xl\:top-4{
    top: 1rem;
  }
  .\32xl\:top-64{
    top: 16rem;
  }
  .\32xl\:my-12{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .\32xl\:my-16{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .\32xl\:my-2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .\32xl\:my-8{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .\32xl\:-mt-24{
    margin-top: -6rem;
  }
  .\32xl\:mb-12{
    margin-bottom: 3rem;
  }
  .\32xl\:mb-16{
    margin-bottom: 4rem;
  }
  .\32xl\:mt-12{
    margin-top: 3rem;
  }
  .\32xl\:mt-16{
    margin-top: 4rem;
  }
  .\32xl\:mt-8{
    margin-top: 2rem;
  }
  .\32xl\:gap-16{
    gap: 4rem;
  }
  .\32xl\:border-b-6{
    border-bottom-width: 6px;
  }
  .\32xl\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }
  .\32xl\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .\32xl\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .\32xl\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .\32xl\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .\32xl\:pb-16{
    padding-bottom: 4rem;
  }
  .\32xl\:pe-16{
    -webkit-padding-end: 4rem;
            padding-inline-end: 4rem;
  }
  .\32xl\:ps-16{
    -webkit-padding-start: 4rem;
            padding-inline-start: 4rem;
  }
  .\32xl\:pt-16{
    padding-top: 4rem;
  }
  .\32xl\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .\32xl\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .\32xl\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .\32xl\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .\32xl\:text-xs{
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (min-width: 1600px){
  .\33xl\:-bottom-24{
    bottom: -6rem;
  }
  .\33xl\:-my-24{
    margin-top: -6rem;
    margin-bottom: -6rem;
  }
  .\33xl\:my-16{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .\33xl\:my-24{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .\33xl\:h-16{
    height: 4rem;
  }
  .\33xl\:gap-12{
    gap: 3rem;
  }
  .\33xl\:gap-24{
    gap: 6rem;
  }
  .\33xl\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .\33xl\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .\33xl\:px-24{
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .\33xl\:py-6{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .\33xl\:py-7{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
  .\33xl\:py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .\33xl\:pb-6{
    padding-bottom: 1.5rem;
  }
  .\33xl\:text-9xl{
    font-size: 8rem;
    line-height: 1;
  }
}

@media (min-width: 1920px){
  .\34xl\:-bottom-16{
    bottom: -4rem;
  }
  .\34xl\:-bottom-24{
    bottom: -6rem;
  }
  .\34xl\:-end-24{
    inset-inline-end: -6rem;
  }
  .\34xl\:-end-64{
    inset-inline-end: -16rem;
  }
  .\34xl\:-start-24{
    inset-inline-start: -6rem;
  }
  .\34xl\:-start-64{
    inset-inline-start: -16rem;
  }
  .\34xl\:-top-16{
    top: -4rem;
  }
  .\34xl\:-top-24{
    top: -6rem;
  }
  .\34xl\:bottom-24{
    bottom: 6rem;
  }
  .\34xl\:end-24{
    inset-inline-end: 6rem;
  }
  .\34xl\:start-24{
    inset-inline-start: 6rem;
  }
  .\34xl\:my-16{
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .\34xl\:my-24{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .\34xl\:-mt-32{
    margin-top: -8rem;
  }
  .\34xl\:mb-12{
    margin-bottom: 3rem;
  }
  .\34xl\:mb-16{
    margin-bottom: 4rem;
  }
  .\34xl\:mb-24{
    margin-bottom: 6rem;
  }
  .\34xl\:mb-8{
    margin-bottom: 2rem;
  }
  .\34xl\:mt-12{
    margin-top: 3rem;
  }
  .\34xl\:mt-16{
    margin-top: 4rem;
  }
  .\34xl\:mt-24{
    margin-top: 6rem;
  }
  .\34xl\:mt-8{
    margin-top: 2rem;
  }
  .\34xl\:h-24{
    height: 6rem;
  }
  .\34xl\:h-32{
    height: 8rem;
  }
  .\34xl\:h-44{
    height: 11rem;
  }
  .\34xl\:w-24{
    width: 6rem;
  }
  .\34xl\:w-32{
    width: 8rem;
  }
  .\34xl\:w-44{
    width: 11rem;
  }
  .\34xl\:gap-10{
    gap: 2.5rem;
  }
  .\34xl\:gap-12{
    gap: 3rem;
  }
  .\34xl\:gap-16{
    gap: 4rem;
  }
  .\34xl\:gap-4{
    gap: 1rem;
  }
  .\34xl\:gap-6{
    gap: 1.5rem;
  }
  .\34xl\:gap-8{
    gap: 2rem;
  }
  .\34xl\:border-b-6{
    border-bottom-width: 6px;
  }
  .\34xl\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .\34xl\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .\34xl\:px-24{
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .\34xl\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .\34xl\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .\34xl\:py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .\34xl\:pb-24{
    padding-bottom: 6rem;
  }
  .\34xl\:pe-24{
    -webkit-padding-end: 6rem;
            padding-inline-end: 6rem;
  }
  .\34xl\:pr-12{
    padding-right: 3rem;
  }
  .\34xl\:ps-24{
    -webkit-padding-start: 6rem;
            padding-inline-start: 6rem;
  }
  .\34xl\:pt-24{
    padding-top: 6rem;
  }
  .\34xl\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .\34xl\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .\34xl\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .\34xl\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
  .\34xl\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }
  .\34xl\:text-\[10px\]{
    font-size: 10px;
  }
  .\34xl\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .\34xl\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .\34xl\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 2160px){
  .\35xl\:-bottom-32{
    bottom: -8rem;
  }
  .\35xl\:-my-32{
    margin-top: -8rem;
    margin-bottom: -8rem;
  }
  .\35xl\:my-32{
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .\35xl\:mb-24{
    margin-bottom: 6rem;
  }
  .\35xl\:mt-24{
    margin-top: 6rem;
  }
  .\35xl\:h-20{
    height: 5rem;
  }
  .\35xl\:h-36{
    height: 9rem;
  }
  .\35xl\:w-36{
    width: 9rem;
  }
  .\35xl\:gap-32{
    gap: 8rem;
  }
  .\35xl\:px-14{
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  .\35xl\:px-16{
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .\35xl\:px-20{
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .\35xl\:px-32{
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .\35xl\:py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .\35xl\:py-8{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .\35xl\:py-9{
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .\35xl\:pb-8{
    padding-bottom: 2rem;
  }
  .\35xl\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .\35xl\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .\35xl\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .\35xl\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
  .\35xl\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }
  .\35xl\:text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }
  .\35xl\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 2560px){
  .full\:-bottom-32{
    bottom: -8rem;
  }
  .full\:-end-32{
    inset-inline-end: -8rem;
  }
  .full\:-start-32{
    inset-inline-start: -8rem;
  }
  .full\:-top-32{
    top: -8rem;
  }
  .full\:bottom-32{
    bottom: 8rem;
  }
  .full\:end-32{
    inset-inline-end: 8rem;
  }
  .full\:start-32{
    inset-inline-start: 8rem;
  }
  .full\:my-32{
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .full\:-mt-40{
    margin-top: -10rem;
  }
  .full\:mb-32{
    margin-bottom: 8rem;
  }
  .full\:mt-24{
    margin-top: 6rem;
  }
  .full\:mt-32{
    margin-top: 8rem;
  }
  .full\:h-52{
    height: 13rem;
  }
  .full\:w-52{
    width: 13rem;
  }
  .full\:gap-16{
    gap: 4rem;
  }
  .full\:border-b-8{
    border-bottom-width: 8px;
  }
  .full\:px-0{
    padding-left: 0px;
    padding-right: 0px;
  }
  .full\:px-12{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .full\:px-32{
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .full\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .full\:py-32{
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .full\:pb-32{
    padding-bottom: 8rem;
  }
  .full\:pe-32{
    -webkit-padding-end: 8rem;
            padding-inline-end: 8rem;
  }
  .full\:ps-16{
    -webkit-padding-start: 4rem;
            padding-inline-start: 4rem;
  }
  .full\:ps-32{
    -webkit-padding-start: 8rem;
            padding-inline-start: 8rem;
  }
  .full\:pt-32{
    padding-top: 8rem;
  }
  .full\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .full\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .full\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .full\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }
  .full\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }
  .full\:text-7xl{
    font-size: 4.5rem;
    line-height: 1;
  }
  .full\:text-8xl{
    font-size: 6rem;
    line-height: 1;
  }
}
/*# sourceMappingURL=club-menangle.css.map */
