// ==========================================================================
// Buttons Styles
// ==========================================================================

@each $button in $button-list {
	#{$button} {
		display: inline-block;
		background-color: transparent;
		background-image: none;
		color: inherit;
		border: 0;
		padding: ($spacer / 2) $spacer;
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
	}
}

.btn {
	text-transform: uppercase;
	text-decoration: none;

	&::after {
		@include fa5( 'Solid', 'f054' );
	}

	svg {
		margin: ($spacer / 4);
		margin-bottom: 0;
	}

	&.download:not( .btn-sm ):not( .btn-lg ) {
		@include break-from( medium ) {
			font-size: $font-size-base;
		}
	}

	&.small:not( .btn-sm ):not( .btn-lg ) {
		@include break-from( medium ) {
			font-size: $font-size-base;
		}
	}

	&:not( .btn-sm ):not( .btn-lg ) {
		@include break-from( medium ) {
			font-size: $font-size-lg;
		}
	}
}

.circle {
	width: $spacer * 4.5;
	height: $spacer * 4.5;
	border-radius: 50%;

	@include flex-container( $align: center, $justify: center, $direction: column );
	@include break-from( medium ) {
		width: $spacer * 6;
		height: $spacer * 6;
	}
}


.download {
	display: inline-flex;
	margin-left: $spacer / 2;
	margin-right: $spacer / 2;

	@include break-from( medium ) {
		width: $spacer * 4.5;
		height: $spacer * 4.5;
		font-size: $font-size-base;
	}

	svg {
		margin-top: 0;
		margin-bottom: ($spacer / 4);

		&:last-of-type {
			display: none;
		}
	}
}
