// ==========================================================================
// Elements Styles
// ==========================================================================

img {
	// Automatically scale height and adhere to container width
	height: auto;
	max-width: 100%;

	// Get rid of gap under images
	display: inline-block;
}

dl,
ol,
ul {
	margin: 0 0 $spacer;
}

ol,
ul {
	padding-left: ($spacer * 2);
}

dd,
li {
	margin-bottom: ($spacer / 4);
}

li {
	ol,
	ul {
		margin-top: ($spacer / 4);
	}
}

table {
	margin: 0 0 $spacer;
	width: 100%;
}

caption {
	text-align: inherit;
}

th,
td {
	padding: ($spacer / 2);
}

pre {
	margin: 0 0 $spacer;
	overflow: auto;
}

audio,
embed,
iframe,
object,
video {
	max-width: 100%;
}
