// ==========================================================================
// Fields Styles
// ==========================================================================

@each $input in $input-list {
	#{$input} {
		width: 100%;
		margin-bottom: $spacer;
		padding: ($spacer / 4) 0;
		background-color: transparent;
		border: 2px solid transparent;
		border-bottom-color: $softgold;
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
	}
}

textarea {
	resize: vertical;
	padding-left: $spacer / 4;
	padding-right: $spacer / 4;
	border-color: $softgold;
}

select {
	width: 100%;
	margin-bottom: $spacer;
	padding: $spacer / 4;
	background-color: $offwhite;
	border: 2px solid $softgold;
}
