// ==========================================================================
// Form Styles
// ==========================================================================

.gform_wrapper {
	.site-wrapper & {
		margin: 0;
	}

	form {
		@include clearfix();
	}

	ul.gform_fields li.gfield {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 ($spacer / 2);
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;

		&_error {
			background-color: transparent;
			border-color: transparent;

			input:not( [type=radio] ):not( [type=checkbox] ):not( [type=submit] ):not( [type=button] ):not( [type=image] ):not( [type=file] ):not( [type=number] ),
			textarea {
				border-color: transparent;
				border-bottom-color: inherit;
			}

			.gfield_label {
				color: inherit;
			}
		}
	}

	.site-wrapper & .top_label {
		.gfield {
			flex-direction: column;
			padding-right: 0;

			&_label {
				order: 1;
				margin: ($spacer / 4) 0 0;
				font-weight: $headings-font-weight;
			}

			&_required {
				@include visually-hidden();
			}
		}

		.hidden_label {
			margin-top: $spacer;

			.ginput_container {
				margin-top: $spacer;
			}
		}

		.ginput_container {
			margin: 0;
		}
	}

	input:not( [type=radio] ):not( [type=checkbox] ):not( [type=submit] ):not( [type=button] ):not( [type=image] ):not( [type=file] ):not( [type=number] ) {
		margin: 0;
		padding: ($spacer / 4) 0;
	}

	textarea.textarea {
		padding: ($spacer / 4);
	}


	.gform_footer {
		position: relative;
		text-align: right;
		z-index: 1;

		svg {
			display: block;
			right: 0;
			margin-top: 3px;
			z-index: -1;
			transition: $btn-transition;

			@include center( 'Y' );
		}
	}

	.gform_button {
		padding: 0 $spacer 0 0;
		text-align: right;
		text-transform: uppercase;

		&:hover {
			color: $link-hover-color;

			+ svg {
				color: $link-hover-color;
			}
		}
	}

	div.validation_error,
	ol.validation_list,
	ol.validation_list li a,
	.validation_message {
		color: inherit;
		border-color: inherit;
		font-weight: $headings-font-weight;
	}
}
