// ==========================================================================
// Typography
// ==========================================================================

@include break-from( medium ) {
	h1 {
		font-size: em( $font-size-base * 3.75 );
	}

	h2 {
		font-size: em( $font-size-base * 2.5 );
	}

	h3 {
		font-size: em( $font-size-base * 2 );
	}

	h4 {
		font-size: em( $font-size-base * 1.75 );
	}

	h5 {
		font-size: em( $font-size-base * 1.5 );
	}

	h6 {
		font-size: em( $font-size-base * 1.25 );
	}
}

p {
	&:last-child {
		margin-bottom: 0;
	}

	a {
		text-decoration: underline;
	}
}

blockquote,
q {
	quotes: '\201C''\201D''\2018''\2019';
	position: relative;
}

blockquote {
	background-color: $offwhite;
	border: solid $link-color;
	border-width: 0 1px 0 5px;
	border-radius: $border-radius;
	box-shadow: 0 1px 5px 0 rgba( 0, 0, 0, 0.125 );
	margin: 0 0 $spacer;
	padding: 1em 1em 1em 2.5em;
	text-align: justify;

	&::before {
		content: '\201C';
		position: absolute;
		margin-top: -0.25em;
		left: 0.15em;
		color: mui-color( grey, 700 );
		font-family: Georgia, serif;
		font-size: 3em;
		font-weight: 600;
	}
}

q {
	display: inline-block;
	padding: 0 0.625em;

	&::before,
	&::after {
		font-family: Georgia, serif;
		font-size: 1.25em;
		position: absolute;
		margin-top: -0.125em;
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}
}

cite {
	font-size: 0.875em;

	&::before {
		content: '\2014';
		margin-right: 0.5em;
	}
}

small {
	font-size: 0.875em;
}
