// ==========================================================================
// Content Styles
// ==========================================================================

.site-content {
	min-height: 100vh;
}

.banner {
	position: relative;
	min-height: rem( 270 );
	color: $offwhite;

	@include flex-container( $align: flex-end );

	@include break-from( medium ) {
		min-height: rem( 480 );
	}

	@include break-from( xlarge ) {
		min-height: rem( 560 );
	}

	@include break-from( xxlarge ) {
		min-height: rem( 640 );
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( $black, 0.25 );
		background: linear-gradient( to bottom, rgba( 0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.75 ) 75% );
		z-index: -1;
	}

	.container-fluid {
		position: relative;
		padding: 0;
		z-index: 1;

		&::after {
			content: '';
			position: absolute;
			top: $spacer;
			left: 0;
			width: 3px;
			height: calc( 100% + #{$spacer / 2} );
			background-color: $softgold;

			@include break-from( medium ) {
				height: calc( 100% + #{$spacer * 2} );
			}

			@include break-from( xlarge ) {
				height: calc( 100% + #{$spacer * 4} + #{$spacer} );
			}
		}

		@include break-from( large ) {
			@include flex-container( $align: flex-end, $justify: space-between );
		}
	}

	.content {
		align-self: flex-start;
		max-width: map-get( $container-max-widths, 'md' );
	}

	.super {
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		margin-left: -( $spacer / 2 );
		margin-top: -( $spacer / 2 );
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
		font-size: 1.25em;
	}

	h1,
	h2 {
		text-transform: uppercase;
	}

	.button {
		@include break-until( large ) {
			margin-top: $spacer;
		}
	}

	> .image {
		@include center( 'X' );

		top: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
		overflow: hidden;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.images {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.slick-list,
	.slick-track {
		height: 100%;
		z-index: -1;
	}

	.slick-list {
		padding-right: $spacer * 2;

		@include break-from( large ) {
			padding-right: $spacer * 4;
		}
	}

	.slick-arrow {
		position: absolute;
		right: -$spacer;
		bottom: $spacer;
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
		font-size: $h6-font-size;
		text-transform: uppercase;
		transform: rotate( -90deg );
		transform-origin: center;
		z-index: 1;

		@include break-from( large ) {
			right: 0;
			bottom: $spacer * 2;
		}
	}

	.scroll-down {
		bottom: -$spacer * 2;
		text-transform: uppercase;

		@include center( 'X' );

		svg {
			bottom: 0.5em;
			margin-bottom: $spacer * 2;
			color: $offwhite;

			@include center( 'X' );
		}

		p {
			animation: pulse 1s infinite ease-in-out;
		}

		.animate {
			animation: scroller 1s infinite ease-in-out;
		}

		&.hide {
			opacity: 0;
			transition: opacity 1s ease-in-out;
			pointer-events: none;
		}
	}
}

@keyframes scroller {
	25% {
		bottom: 1em;
	}

	50% {
		bottom: 0.5em;
	}

	75% {
		bottom: 0.75em;
	}
}

@keyframes pulse {
	0% {
		transform: scaleX( 1 );
	}

	50% {
		transform: scale3d( 1.05, 1.05, 1.05 );
	}
}

.slick-dots {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;

	li {
		position: relative;
		display: inline-block;
		margin: $spacer / 4;
		width: 12px;
		height: 12px;
		background-color: $softgold;
		border: 2px solid $softgold;
		border-radius: 50%;

		&.slick-active {
			background-color: transparent;
		}
	}

	button {
		@include center();
		@include text-invisible();

		width: 8px;
		height: 8px;
		padding: 0;
		border-radius: 50%;
		cursor: pointer;
		outline: 0;
		appearance: none;
	}
}

.uber-link {
	@include break-from( 1025px ) {
		display: none !important;
	}
}

// sub restaurants - delete line on gallery
.page-template-sub-restaurants {
	.cm-8 {
		.info::after {
			opacity: 0;
			background: none;
		}
	}
}
