// ==========================================================================
// Footer Styles
// ==========================================================================

.sponsors {
	padding: $spacer;

	h3 {
		margin-bottom: $spacer;
		color: $softgold;
		font-size: $h2-font-size;
		text-align: center;
		text-transform: uppercase;
	}

	&-list {
		margin-bottom: 0;
		padding-left: 0;
		list-style-type: none;

		@include flex-container( $align: center, $justify: center );

		li {
			padding: $spacer / 2;

			@include break-from( medium ) {
				padding: $spacer;
			}
		}
	}
}

.instagram {
	position: relative;
	padding-top: $spacer;

	p {
		margin-bottom: 0;

		a {
			text-decoration: none;
		}
	}

	svg {
		margin-right: $spacer / 2;
		font-size: 2em;
		vertical-align: middle;
	}

	.feed {
		padding: $spacer / 4;

		@include flex-container( $justify: center );
	}

	.tile {
		padding: $spacer / 4;

		@include flex-item( $basis: 50% );

		@include break-from( xsmall ) {
			flex-basis: (100% / 3 ) - 3;
		}

		@include break-from( medium ) {
			flex-basis: (100% / 4 ) - 3;
		}

		@include break-from( xlarge ) {
			flex: 1;
		}

		a {
			position: relative;
			display: block;
			padding-top: 100%;

			> img {
				@include center();
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 1;
				background-color: rgba( $black, 0.25 );
				transition: opacity 0.15s;
			}

			&:hover::after {
				opacity: 0;
			}
		}
	}
}

.subscribe-contact {
	@include break-from( large ) {
		@include flex-container();
	}

	h3 {
		margin-bottom: $spacer;
		font-size: $h2-font-size;
		text-transform: uppercase;
	}

	img {
		margin-bottom: $spacer;
	}
}

.subscribe {
	background-color: $softgold;
	color: $offwhite;

	@include flex-item( $basis: 50% );

	.gform_wrapper {
		max-width: map-get( $container-max-widths, 'sm' );
	}

	input {
		color: inherit;
		border-bottom-color: $offwhite;
	}
}

.contact {
	position: relative;
	background-color: #fcfcfa;
	z-index: 1;

	@include flex-item( $basis: 50% );

	.sizer {
		opacity: 0;
		visibility: none;

		@include break-until( large ) {
			display: none;
		}
	}

	.background {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		object-fit: contain;
		margin-bottom: 0;
		z-index: -1;
	}

	h3,
	h4 {
		color: $softgold;
	}

	h4 {
		margin: $spacer 0;
		font-size: $h6-font-size;
		text-transform: uppercase;
	}

	p {
		margin-bottom: ($spacer / 4);
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
	}
}

.socials {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
	font-size: 2em;

	li {
		display: inline-block;
		margin: ($spacer / 2) 0 0;

		+ li {
			margin-left: $spacer / 2;
		}
	}
}

.sitelinks {
	padding: $spacer / 2 $spacer;
	background-color: $beige;
	color: $offwhite;
	font-size: 1.125em;
	text-align: center;
	text-transform: uppercase;

	.menu.inline li {
		margin: $spacer / 4;
	}

	@include break-from( medium ) {
		padding-top: $spacer;
		padding-bottom: $spacer;

		.menu.inline li {
			margin: 0 $spacer / 2;
		}
	}

	a {
		color: $charcoal;

		&:hover {
			color: $link-color;
		}
	}
}

.copyright {
	padding: ($spacer / 2) $spacer;
	background-color: $charcoal;
	color: $offwhite;
	font-size: 0.75em;
	text-align: right;

	a {
		color: $offwhite;
		text-decoration: underline;

		&:hover {
			color: $link-color;
		}
	}

	@include break-until( medium ) {
		text-align: center;

		span {
			display: block;
		}
	}
}
