// ==========================================================================
// Header Styles
// ==========================================================================

.site-header {
	padding: $spacer / 2;
	background-color: $charcoal;

	@include flex-container( $justify: space-between );
	@include break-from( medium ) {
		padding: $spacer;
	}
}

.branding {
	top: 0;
	z-index: 1;

	@include center( 'X' );
	@include break-until( medium ) {
		img {
			max-width: 120px;
		}
	}

	@include break-until( small ) {
		margin-left: 0;
	}
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	padding: 0;
	background-color: $beige;
	box-shadow: $box-shadow;
	transition: background-color 0.4s;
	z-index: 4;

	@include flex-container( $direction: column );
	@include break-from( map-get( $container-max-widths, 'xl' ) * 2 ) {
		left: calc( 50% - #{map-get( $container-max-widths, 'xl' )} );
	}

	.menu-open & {
		background-color: $offwhite;
	}
}

.main {
	margin-top: $spacer;
	text-align: center;
	text-transform: uppercase;

	.bars {
		position: relative;
		width: 32px;
		height: 24px;
		display: block;
		margin: auto;
	}

	.bar {
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		display: block;
		background-color: $charcoal;
		border-radius: 1px;
		transform-origin: left center;
		transition:
			background-color 0.15s,
			top 0.4s,
			left 0.4s,
			transform 0.4s;


		&:nth-child(1) {
			top: 0;

			.menu-open & {
				top: -2px;
				left: 4px;
				transform: rotate( 45deg );
			}
		}

		&:nth-child(2) {
			top: 8px;

			.menu-open & {
				opacity: 0;
			}
		}

		&:nth-child(3) {
			top: 16px;

			.menu-open & {
				top: 21px;
				left: 4px;
				transform: rotate( -45deg );
			}
		}
	}

	&-toggle {
		font-size: 0.875em;

		&:hover {
			.bar {
				background-color: $link-color;
			}
		}
	}

	@include break-until( medium ) {
		margin-top: $spacer / 2;

		.text {
			font-size: 0.875em;
			letter-spacing: 0;
		}
	}
}

.book {
	@include flex-item();
	position: relative;

	&-toggle {
		position: absolute;
		top: 50%;
		transform: translateX(-50%) rotate( -90deg );
		white-space: nowrap;
		text-transform: uppercase;
	}
}

.main,
.book {
	&-toggle {
		display: block;
		color: $charcoal;
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
		transition: 0.15s;

		&:hover {
			color: $link-color;
		}
	}
}

.extra {
	text-align: right;
	text-transform: uppercase;

	a {
		color: $offwhite;
		transition: 0.15s;

		&:hover {
			color: $link-color;
		}
	}

	@include flex-item();
}

.sticky-header {
 	z-index: 10;
 	position: fixed;
 	top: 0;
 	transition: top 0.2s ease-in-out;
 	width: 100%;
 	margin-left: 0;
}

.nav-up {
    top: -140px;
}


