// ==========================================================================
// Navigation Styles
// ==========================================================================

.menu {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;

	a {
		display: inline-block;

		&:hover {
			text-decoration: none;
		}
	}

	&.stacked {
		li {
			display: block;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.inline {
		li {
			display: inline-block;
			margin-bottom: 0;
			margin-right: $spacer;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.site-menu,
.site-book {
	position: fixed;
	left: -100%;
	transition: left 0.4s;
	z-index: 3;

	@include flex-container();

	.wrapper {
		@include flex-item();
	}
}

.site-menu {
	top: 0;
	width: 100%;
	height: 100%;
	max-width: map-get( $container-max-widths, 'xl' ) * 2;
	overflow: auto;

	@include break-from( map-get( $container-max-widths, 'xl' ) * 2 ) {
		left: - map-get( $container-max-widths, 'xl' ) * 2;
	}

	.menu-open & {
		left: 0;

		@include break-from( map-get( $container-max-widths, 'xl' ) * 2 ) {
			left: calc( 50% - #{map-get( $container-max-widths, 'xl' )} );
		}
	}

	.wrapper {
		position: relative;
		background-color: $offwhite;
		z-index: 1;
		overflow: auto;

		@include break-from( xlarge ) {
			@include flex-container( $align: center );
		}

		> img {
			@include center();

			z-index: -1;
		}
	}

	.sitenav {
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
		font-size: 1.125em;

		@include break-until( 1366px ) {
			font-size: 1em;
		}

		@include flex-item();

		@include break-from( 1367px ) {
			@include flex-container( $justify: space-around );
		}
	}

	.menu {
		margin: $spacer auto;
		padding-left: 50px;

		@include flex-container( $direction: column );

		ul {
			padding-left: 0;
		}

		> li > a {
			color: $link-color;
			font-size: $h3-font-size;
			text-transform: uppercase;

			@include break-until( 1366px ) {
				font-size: 1em;
			}

			&.menu-image-title-after {
				margin-left: -60px;
			}
		}

		a {
			display: block;
			padding: $spacer / 4 $spacer;
			color: $charcoal;

			&:hover {
				background-color: $beige;
			}
		}
	}

	.sub-menu {
		margin: ($spacer / 4) 0 $spacer;
	}

	.menu-image {
		max-width: 60px;

		&-title {
			vertical-align: middle;
			padding-left: 0;
		}
	}
}

.site-book {
	top: 50%;
	width: 95%;
	transform: translateY( -50% );

	@include break-from( medium ) {
		max-width: map-get( $container-max-widths, 'sm' );
	}

	.book-open & {
		left: 0;
		box-shadow: $box-shadow;

		@include break-from( map-get( $container-max-widths, 'xl' ) * 2 ) {
			left: calc( 50% - #{map-get( $container-max-widths, 'xl' )} );
		}
	}

	.wrapper {
		background-color: $beige;
	}

	.head {
		color: $link-color;

		@include flex-container( $align: center, $justify: space-between );
	}

	.book-close {
		display: block;
		text-align: center;
		font-family: $headings-font-family;
		font-size: 0.875em;
		font-weight: $headings-font-weight;
		text-transform: uppercase;

		&:hover .line {
			background-color: $link-hover-color;
		}
	}

	.lines {
		position: relative;
		width: 24px;
		height: 24px;
		display: block;
		margin: auto;
	}

	.line {
		position: absolute;
		width: 100%;
		height: 2px;
		display: block;
		background-color: $link-color;
		border-radius: 1px;
		transform-origin: left center;

		&:first-child {
			top: 0;
			left: 4px;
			transform: rotate( 45deg );
		}

		&:last-child {
			top: 17px;
			left: 4px;
			transform: rotate( -45deg );
		}
	}

	.foot {
		background-color: $softgold;
		text-align: right;

		button {
			padding: 0;
			color: $charcoal;
			font-size: $font-size-base;
			font-weight: $headings-font-weight;

			&:hover {
				color: $offwhite;
			}
		}
	}

	.dimmi-widget,
	iframe {
		display: none;
		opacity: 0;
	}

	.booking-spinner {
		margin-bottom: $spacer;
		text-align: center;
		color: $softgold;
	}
}
