// ==========================================================================
// Content Styles
// ==========================================================================

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-lexend-deca font-normal;
}

body a {
	@apply no-underline;
}

blockquote {
	@apply text-3xl 4xl:text-5xl 5xl:text-6xl full:text-7xl leading-loose uppercase not-italic border-teak text-teak relative;

	p {
		&:before,
		&:after {
			@apply hidden;
		}
	}
}

.slick-list {
	@apply h-full;
}

#sponsor_slider .slick-track {
	@apply md:flex items-center;
}

.slick-initialized .slick-slide {
	@apply overflow-hidden;
}

.slick-dots {
	@apply flex justify-center items-center;

	li {
		@apply m-2 leading-none;
		font-size: 0;
	}

	button {
		@apply w-3 h-3 border border-teak rounded-full hover:bg-mineshaft;
	}

	.slick-active button {
		@apply bg-teak;
	}
}

.slider-navigation {
	@apply flex items-center justify-center gap-4;

	.arrow-previous {
		@apply order-1;
	}

	.slick-dots {
		@apply order-2;
	}

	.arrow-next {
		@apply order-3;
	}
}

.facetwp-dropdown {
	background-position: right 2rem center;
}

.facetwp-radio.checked {
	@apply border-teak;
}

.sbx-embedded-form iframe {
	@apply mx-auto;
}
