// ==========================================================================
// Header Styles
// ==========================================================================

.page-banner {
	.h-banner {
		@apply hidden max-sm:h-auto;
	}

	&.slick-initialized .h-banner,
	.h-banner:first-of-type {
		@apply block;
	}
}
