// A just right amount of clean but powerful toolkit
/*! Scaling/sizing by client and designer ¯\_(ツ)_/¯ */
@import '../../node_modules/genetiks/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;

// Layouts. ThemePlate!
@import 'fonts';
@import 'layouts/header';
@import 'layouts/navigation';
@import 'layouts/content';
@import 'layouts/block';
@import 'layouts/footer';

[x-cloak] {
	@apply hidden #{!important};
}

.wp-block-button > .wp-block-button__link {
	@apply no-underline;
}

.wp-block-quote:first-child p {
	@apply mt-0;
}

.gform_footer > .gform_button {
	@apply 4xl:text-lg 5xl:text-xl full:text-2xl #{!important};
	@apply py-4 px-8 3xl:py-6 3xl:px-10 5xl:py-8 5xl:px-14;
	@apply text-white bg-teak hover:bg-mineshaft;
	@apply cursor-pointer;
}
