// A just right amount of clean but powerful toolkit
@import '../../node_modules/genetiks/utilities';

@config '../../blocks/tailwind.config.js';
@tailwind base;
@tailwind components;
@tailwind utilities;

// Layouts. ThemePlate!
@import 'fonts';

.editor-styles-wrapper {
	@import 'layouts/content';
	@import 'layouts/block';
	@apply font-muli text-mineshaft;

	.edit-post-visual-editor__post-title-wrapper {
		@apply pb-16 text-5xl 4xl:text-6xl 5xl:text-7xl full:text-8xl text-center border-b;

		.editor-post-title {
			@apply max-w-[95%];
		}
	}

	.is-root-container {
		@apply overflow-hidden px-8 lg:px-0 max-w-none prose prose-lg 2xl:prose-xl 4xl:prose-2xl;
	}

	.not-prose {
		a {
			@apply no-underline;
		}
	}
}

.wp-block-button > .wp-block-button__link {
	@apply no-underline;
}

.gform_footer > .gform_button {
	@apply 4xl:text-lg 5xl:text-xl full:text-2xl #{!important};
	@apply py-4 px-8 3xl:py-6 3xl:px-10 5xl:py-8 5xl:px-14;
	@apply text-white bg-teak hover:bg-mineshaft;
	@apply cursor-pointer;
}
