// ==========================================================================
// About Styles
// ==========================================================================

.page-template-about {
}

.directors {
	max-width: map-get( $container-max-widths, 'md' ) / 2;
	margin: 0 auto;
	padding-top: 0;

	@include break-from( medium ) {
		max-width: map-get( $container-max-widths, 'md' );

		@include flex-container();
	}

	@include break-from( xlarge ) {
		max-width: 100%;
	}
}

.director {
	margin-bottom: $spacer * 2;

	@include flex-item( $basis: 49% );
	@include break-from( xlarge ) {
		flex-basis: 32%;
	}

	.image {
		margin-bottom: $spacer;
		text-align: center;
	}

	.name {
		text-transform: uppercase;
	}

	.position {
		font-size: $h5-font-size;
		color: $link-color;
	}

	.info {
		text-align: justify;
	}
}

.page-template-sub-restaurants {
	.cm-2 {
		position: relative;

		.inner {
			z-index: 1;
		}

		.text > img {
			position: absolute;
			bottom: $spacer * 2;
			right: $spacer;
			max-width: 20%;
			z-index: -1;

			@include break-from( medium ) {
				bottom: $spacer * 2 + $spacer;
			}

			@include break-from( xlarge ) {
				bottom: -$spacer * 4 + $spacer;
				max-width: 40%;
			}
		}
	}
}
