// ==========================================================================
// Animation Styles
// ==========================================================================

.banner {
	.loaded & {
		.container-fluid::after,
		.content,
		.button {
			opacity: 0;
			transition: $transition-base;
		}

		.content {
			transform: scaleX( 0 );
			transform-origin: left;
		}

		.container-fluid::after {
			transform: translateY( -100% );
			z-index: 2;
		}

		.button {
			transform: scaleX( 0 );
			transform-origin: right;
		}
	}

	&.animated {
		.container-fluid::after,
		.content,
		.button {
			opacity: 1;
		}

		.content {
			transform: scaleX( 1 );
		}

		.container-fluid::after {
			transform: translateY( 0 );
			transition-delay: 0.4s;
		}

		.button {
			transform: scaleX( 1 );
			transition-delay: 0.8s;
		}
	}
}

.supers {
	.loaded & {
		.page,
		.image::before,
		.holder::after {
			opacity: 0;
			transition: $transition-base;
		}

		.page {
			transform: scaleX( 0 );
			transform-origin: left;

			&:last-child {
				transform-origin: right;
			}
		}

		.image::before {
			transform: scaleX( 0 );
			transform-origin: left;
		}

		.holder::after {
			transform: translateY( -100% );
		}
	}

	&.animated {
		.page,
		.image::before,
		.holder::after {
			opacity: 1;
		}

		.page {
			transform: scaleX( 1 );
		}

		.image::before {
			transform: scaleX( 1 );
			transition-delay: 0.6s;
		}

		.holder::after {
			transform: translateY( 0 );
			transition-delay: 1.2s;
		}
	}
}

.events,
.featured {
	.loaded & {
		.intro,
		&.event-gallery,
		.event-carousel,
		.page {
			opacity: 0;
			transition: $transition-base;
		}

		.intro {
			transform: scale( 0 );
		}

		&.event-gallery,
		.event-carousel,
		.page {
			transition: $transition-base;
		}

		&.event-gallery {
			transform: translateY( 25% );
		}

		.event-carousel,
		.page {
			transform: translateY( 100% );
		}
	}

	&.animated {
		.intro,
		&.event-gallery,
		.event-carousel,
		.page {
			opacity: 1;
		}

		.intro {
			transform: scale( 1 );
		}

		&.event-gallery {
			transform: translateY( 0 );
		}

		.event-carousel,
		.page {
			transform: translateY( 0 );
			transition-delay: 0.4s;
		}

		.page {
			&:first-child {
				transition-delay: 0s;
			}

			&:last-child {
				transition-delay: 0.8s;
			}
		}
	}
}

.event-list {
	.loaded & {
		.event-item {
			opacity: 0;
			transition: $transition-base;
			transform: scaleX( 0 );
			transform-origin: left;

			&:nth-child( 2n ) {
				transform-origin: right;
			}
		}
	}

	.animated {
		&.event-item {
			opacity: 1;
			transform: scaleX( 1 );
		}
	}
}

.more-events {
	.loaded & {
		.prev-next,
		.sizer::after,
		.all {
			opacity: 0;
			transition: $transition-base;
		}

		.prev-next {
			transform: scaleX( 0 );
		}

		.sizer::after {
			transform: translateY( 100% );
		}

		.all {
			transform: translateY( -100% );
		}
	}

	&.animated {
		.prev-next,
		.sizer::after,
		.all {
			opacity: 1;
		}

		.prev-next {
			transform: scaleX( 1 );
		}

		.sizer::after,
		.all {
			transform: translateY( 0 );
		}

		.sizer::after {
			transition-delay: 1.2s;
		}

		.all {
			transition-delay: 0.6s;
		}
	}
}

.directors {
	.loaded & {
		.director {
			opacity: 0;
			transition: $transition-base;
			transform: translateY( 25% );
		}
	}

	.animated {
		&.director {
			opacity: 1;
			transform: translateY( 0 );

			@include break-only( medium xlarge ) {
				&:nth-child( 2n ) {
					transition-delay: 0.4s
				}
			}

			@include break-from( xlarge ) {
				&:nth-child( 3n - 1 ) {
					transition-delay: 0.4s
				}

				&:nth-child( 3n ) {
					transition-delay: 0.8s
				}
			}
		}
	}
}

.instagram {
	.loaded & {
		.background,
		.float {
			opacity: 0;
			transition: $transition-base;
		}

		.background {
			transform: translateY( 100% );
		}

		.float {
			transform: translateY( -100% );

			@include break-from( medium ) {
				transform: translate( -100%, -50% );
			}
		}
	}

	&.animated {
		.background,
		.float {
			opacity: 1;
		}

		.background {
			transform: translateY( 0 );

			@include break-until( medium ) {
				transition-delay: 0.6s;
			}
		}

		.float {
			transform: translateY( 0 );

			@include break-from( medium ) {
				transition-delay: 0.6s;
				transform: translate( 0, -50% );
			}
		}
	}
}

.enquiry:not( .cm-2 ) {
	.loaded & {
		.text,
		.inner::before,
		.half-pad::before,
		.image,
		.form {
			opacity: 0;
			transition: $transition-base;
		}

		.text {
			transform: scaleX( 0 );
			transform-origin: left;
		}

		.half-pad::before {
			transform: translateY( 100% );
		}

		.inner::before,
		.form {
			transform: translateY( -100% );
		}

		.image {
			transform: scaleX( 0 );
			transform-origin: right;
		}
	}

	&.animated {
		.text,
		.inner::before,
		.half-pad::before,
		.image,
		.form {
			opacity: 1;
		}

		.text {
			transform: scaleX( 1 );
		}

		.inner::before,
		.half-pad::before {
			transform: translateY( 0 );
			transition-delay: 0.8s;
		}

		.form {
			transform: translateY( 0 );
			transition-delay: 0.4s;
		}

		.image {
			transform: scaleX( 1 );
			transition-delay: 0.4s;
		}
	}
}

.cm-1,
.cm-3,
.cm-7 {
	.loaded & {
		.text,
		.inner::after,
		.image::before {
			opacity: 0;
			transition: $transition-base;
		}

		.text {
			transform: scaleX( 0 );
			transform-origin: left;
			z-index: 2;
		}

		.inner::after {
			transform: translateY( -100% );
		}

		.image::before {
			transform: scaleX( 0 );
			transform-origin: right;
		}
	}

	&.animated {
		.text,
		.inner::after,
		.image::before {
			opacity: 1;
		}

		.text {
			transform: scaleX( 1 );
		}

		.inner::after {
			transform: translateY( 0 );
			transition-delay: 0.8s;
		}

		.image::before {
			transform: scaleX( 1 );
			transition-delay: 0.4s;
		}
	}
}

.cm-1,
.cm-7 {
	.loaded & {
		.holder {
			opacity: 0;
			transform: translateY( -30% );
			transition: $transition-base;
		}
	}

	&.animated {
		.holder {
			opacity: 1;
			transform: translateY( 0 );
		}
	}
}

.cm-3,
.cm-5 {
	.loaded & {
		.holder {
			opacity: 0;
			transform: translateY( 30% );
			transition: $transition-base;
		}
	}

	&.animated {
		.holder {
			opacity: 1;
			transform: translateY( 0 );
		}
	}
}

.cm-4 {
	.loaded & {
		.quarter-pad,
		.gallery {
			opacity: 0;
			transition: $transition-base;
		}

		.quarter-pad {
			transform: scaleX( 0 );
			transform-origin: right;
		}

		.gallery {
			transform: translateY( 30% );
		}
	}

	&.animated {
		.quarter-pad,
		.gallery {
			opacity: 1;
		}

		.quarter-pad {
			transform: scaleX( 1 );
		}

		.gallery {
			transform: translateY( 0 );
		}
	}
}

.cm-2,
.cm-5,
.cm-6 {
	.loaded & {
		.text,
		.inner::after,
		.image::before,
		.holder {
			opacity: 0;
			transition: $transition-base;
		}

		.text {
			transform: scaleX( 0 );
			transform-origin: right;
		}

		.inner::after {
			transform: translateY( -100% );
		}

		.image::before {
			transform: scaleX( 0 );
			transform-origin: left;
		}

		.holder {
			transform: translateY( 30% );
		}
	}

	&.animated {
		.text,
		.inner::after,
		.image::before,
		.holder {
			opacity: 1;
		}

		.text {
			transform: scaleX( 1 );
		}

		.inner::after {
			transform: translateY( 0 );
			transition-delay: 0.8s;
		}

		.image::before {
			transform: scaleX( 1 );
			transition-delay: 0.4s;
		}

		.holder {
			transform: translateY( 0 );
		}
	}
}

.cm-2 {
	.loaded & {
		.holder {
			z-index: 1;
		}

		.text::before  {
			opacity: 0;
			transform: translateY( -30% );
			transition: $transition-base;
		}
	}

	&.animated {
		.text::before  {
			opacity: 1;
			transform: translateY( 0 );
			transition-delay: 0.4s;
		}
	}
}

.cm-6 {
	.loaded & {
		.text .full-pad::before  {
			opacity: 0;
			transform: translateY( -30% );
			transition: $transition-base;
		}
	}

	&.animated {
		.text .full-pad::before  {
			opacity: 1;
			transform: translateY( 0 );
			transition-delay: 0.4s;
		}
	}
}

.cm-7 {
	.loaded & {
		.text .full-pad::before  {
			opacity: 0;
			transform: translateY( 30% );
			transition: $transition-base;
		}
	}

	&.animated {
		.text .full-pad::before  {
			opacity: 1;
			transform: translateY( 0 );
			transition-delay: 0.4s;
		}
	}
}

.cm-8,
.cm-9 {
	.loaded & {
		.gallery,
		.info,
		.info::after {
			opacity: 0;
			transition: $transition-base;
		}

		.gallery {
			z-index: 1;
		}

		.info::after {
			transform:
				rotate( -180deg )
				translateY( -100% );
		}
	}

	&.animated {
		.gallery,
		.info,
		.info::after {
			opacity: 1;
		}

		.info::after {
			transform:
				rotate( -180deg )
				translateY( 0 );
			transition-delay: 0.8s;
		}
	}
}

.cm-8 {
	.loaded & {
		.gallery {
			transform: scaleX( 0 );
			transform-origin: left;
		}

		.info {
			transform: scaleX( 0 );
			transform-origin: right;
		}
	}

	&.animated {
		.gallery,
		.info {
			transform: scaleX( 1 );
		}
	}
}

.cm-9 {
	.loaded & {
		background-color: transparent;
		background-size: 100% 200%;
		background-image: linear-gradient( to top, $charcoal 50%, transparent 50% );
		transition: $transition-base;

		.gallery {
			transform: scaleX( 0 );
			transform-origin: right;
		}

		.info {
			transform: scaleX( 0 );
			transform-origin: left;
		}
	}

	&.animated {
		background-position: 0 100%;

		.gallery,
		.info {
			transform: scaleX( 1 );
		}
	}
}
