// ==========================================================================
// Contact Styles
// ==========================================================================

.page-template-contact {
	.cm-1 {
		ul {
			list-style-type: none;
			margin-bottom: 0;
			padding-top: $spacer;
			padding-left: 0;
		}

		li {
			margin-bottom: $spacer;

			@include flex-container( $wrap: nowrap );
		}

		span {
			height: 1.75em;
			margin-top: -($spacer / 4);
			margin-right: $spacer / 2;
			padding: $spacer / 4;
			background-color: $softgold;
			color: $offwhite;
			border-radius: 50%;
			font-size: 1.5em;
		}

		svg {
			vertical-align: baseline;
		}
	}
}

.enquiry {
	&.cm-2 {
		@include break-until( xlarge ) {
			.text::before {
				top: 0;
			}
		}

		.form {
			color: $offwhite;

			@include break-from( xlarge ) {
				padding-bottom: 0;
			}

			.inner::after {
				height: $spacer * 3;

				@include break-from( medium ) {
					height: $spacer * 5;
				}

				@include break-from( xlarge ) {
					height: $spacer * 8;
				}
			}
		}
	}

	.half-pad {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: calc( 100% + #{$spacer} + #{$spacer * 2});
			background-color: $softgold;
			z-index: 1;

			@include break-from( medium ) {
				height: calc( 100% + #{$spacer * 2} + #{$spacer * 2});
			}

			@include break-from( xlarge ) {
				height: calc( 100% + #{$spacer * 4} + #{$spacer * 2});
			}
		}
	}

	.form {
		max-width: map-get( $container-max-widths, 'sm' );
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;

		@include break-until( small ) {
			padding-left: 0;
			padding-right: 0;
		}

		@include break-until( large ) {
			padding-top: $spacer;
		}

		&.special {
			@include break-until( xlarge ) {
				padding: $spacer * 2 0;
			}
		}
	}

	h3 {
		margin-bottom: $spacer;
		color: $softgold;
		font-size: $h4-font-size;
		text-transform: uppercase;
	}

	.gform_body {
		margin-top: $spacer * 2;
		color: $offwhite;
	}

	input {
		color: $offwhite;
	}

	textarea {
		color: $offwhite;

		@include selector( 'placeholder' ) {
			color: $offwhite;
		}
	}

	.button {
		color: $softgold;

		+ svg {
			color: $softgold;
		}
	}
}

.page-template-sub-functions,
.page-template-sub-restaurants {
	.enquiry {
		h3 {
			margin-top: $spacer / 4;

			@include break-from( medium ) {
				margin-top: $spacer * 0.375;
			}

			@include break-from( xlarge ) {
				margin-top: $spacer / 2;
			}
		}

		@include break-from( xlarge ) {
			@include flex-container( $justify: space-between );
		}

		.text {
			justify-content: flex-start;
		}

		.inner {
			position: relative;
			padding-top: 0;
			padding-bottom: 0;
			padding-right: 0;
			background-color: $charcoal;
			color: $offwhite;

			@include break-only( medium xxlarge ) {
				padding-left: $spacer * 2;

				.full-pad {
					padding: $spacer * 2;
				}
			}

			@include break-until( small ) {
				padding-left: 0;
			}
		}

		.half-pad {
			@include break-until( xxlarge ) {
				padding-right: 0;
			}
		}
	}
}

.page-template-sub-functions {
	.enquiry {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;

		.form {
			padding-bottom: 0;

			@include flex-item( $basis: 50% );
			@include break-until( xlarge ) {
				padding-top: 0;
			}
		}

		input,
		textarea,
		.gform_body {
			color: $charcoal;
		}
	}
}

.page-template-sub-restaurants {
	.enquiry {
		.text {
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;
		}

		.inner::before {
			content: '';
			position: absolute;
			top: 100%;
			right: 0;
			width: 50%;
			height: $spacer;
			background-color: $beige;
			z-index: -1;

			@include break-from( medium ) {
				height: $spacer * 2;
			}

			@include break-from( xlarge ) {
				height: $spacer * 4;
			}
		}

		.btn {
			position: absolute;
			bottom: 0;
			right: 0;
			margin-bottom: -$spacer;
			flex-direction: row;

			@include break-from( medium ) {
				margin-bottom: -$spacer * 2;
			}

			@include break-from( xlarge ) {
				margin-bottom: -$spacer * 4;
			}

			svg {
				margin-top: 0;
			}
		}

		.half-pad::before {
			@include break-from( xxlarge ) {
				height: calc( 100% + #{$spacer * 4} + #{$spacer * 4});
			}
		}
	}
}
