// ==========================================================================
// Event Styles
// ==========================================================================

.post-type-archive-event {
	h2 {
		margin-bottom: 0;
		padding-bottom: $spacer;
		color: $softgold;
		text-transform: uppercase;
	}
}

.events {
	position: relative;
	overflow: hidden;
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $white;
	}

	.intro {
		text-align: center;

		@include break-from( large ) {
			max-width: 75%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	h2 {
		display: inline-block;
		position: relative;
		color: $softgold;
		text-transform: uppercase;

		span {
			padding: 0 $spacer / 2;
		}

		&::before,
		&::after {
			content: '';
			width: 100%;
			height: 4px;
			background-color: $softgold;

			@include center( 'Y' );
		}

		&::before {
			left: 100%;
		}

		&::after {
			right: 100%;
		}
	}
}

.event-carousel,
.event-list {
	padding-top: 0;
	padding-left: $spacer;
	padding-right: $spacer;

	@include break-from( medium ) {
		padding-left: 0;
		padding-right: 0;

		@include flex-container( $justify: space-between );
	}

	.event-item {
		max-width: rem( 640 );
		margin: 0 auto 2%;

		@include flex-item( $basis: 49% );
		@include break-from( medium ) {
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.event-item {
	position: relative;

	.image {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba( $black, 0.25 );
		}
	}

	.overlay,
	.info {
		text-transform: uppercase;
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
	}

	.overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		color: $offwhite;
		transition:
			color .4s ease-in-out,
			background-color .4s ease-in-out;
	}

	.overlay,
	p {
		margin-bottom: 0;
		font-size: $h5-font-size;

		&.venue {
			font-size: $h6-font-size;
		}
	}

	a {
		display: block;

		&:hover,
		&:focus {
			.image::before {
				display: none;
			}

			.overlay {
				background-color: $softgold;
				color: $charcoal;
			}
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	h3 {
		margin-bottom: 0;
		font-size: $h5-font-size;
		line-height: $line-height-base;

		&::after {
			@include fa5( 'Solid', 'f054' );
		}
	}

	span {
		display: none;
	}

	svg {
		margin: 0 ($spacer / 4);
	}
}

.event-gallery {
	a {
		@include flex-container( $direction: column, $wrap: nowrap );
	}

	.block {
		padding-left: $spacer;
		padding-right: $spacer;

		@include break-from( xxlarge ) {
			padding-left: 0;
			padding-right: 0;

			@include flex-container( $justify: space-between );

			&.single {
				justify-content: center;
			}
		}

		&::before {
			display: none;
		}

		.block {
			margin-bottom: 0;

			@include break-only( large xxlarge ) {
				max-width: 100%;
				margin-top: $spacer;

				@include flex-container( $justify: space-between );
			}
		}

		&:not( .event-item ) > .event-item > a {
			height: 100%;
		}
	}

	.event-item {
		max-width: rem( 640 );
		margin: 0 auto $spacer;

		@include flex-item( $basis: 49% );
		@include break-from( xxlarge ) {
			max-width: 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.image {
		flex-grow: 1;
	}
}

.event-carousel {
	justify-content: center;

	.slick-list {
		padding-right: $spacer * 2;

		@include break-from( large ) {
			padding-right: $spacer * 4;
		}

		.event-item {
			margin-bottom: 0;
			margin-right: $spacer / 2;
			padding: 0;

			@include break-from( medium ) {
				margin-right: $spacer * 0.75;
			}

			@include break-from( xlarge ) {
				margin-right: $spacer;
			}
		}
	}

	.event-item {
		padding: 0 $spacer / 2;

		@include break-from( medium ) {
			flex-basis: 49%;
		}

		@include break-from( xlarge ) {
			flex-basis: 32%;
		}
	}
}

.single-event {
	.cm-1 {
		ul {
			list-style-type: none;
			padding-top: $spacer;
			padding-left: 0;
		}

		li {
			margin-bottom: $spacer;

			@include flex-container( $wrap: nowrap );
		}

		span {
			height: 1.75em;
			margin-top: -($spacer / 4);
			margin-right: $spacer / 2;
			padding: $spacer / 4;
			background-color: $softgold;
			color: $offwhite;
			border-radius: 50%;
			font-size: 1.5em;
		}

		svg {
			vertical-align: baseline;
		}

		pre {
			margin-bottom: 0;
			font-family: $font-family-base;
			font-size: $font-size-base;
			font-weight: $font-weight-base;
			white-space: pre-wrap;
		}

		@include break-from( large ) {
			padding-bottom: 0;

			.btn {
				margin-left: auto;
			}
		}
	}

	.cm-5 {
		padding-bottom: 0;
	}
}

.more-events {
	padding-left: $spacer;
	padding-right: $spacer;

	@include break-from( xlarge ) {
		@include flex-container( $align: center );
	}

	.sizer {
		position: relative;
		align-self: flex-end;
		order: 1;

		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 10%;
			width: 3px;
			height: $spacer * 2 * 4;
			background-color: $softgold;
			z-index: 2;

			@include break-from( medium ) {
				height: $spacer * 2 * 4 * 2;
			}

			@include break-from( xlarge ) {
				top: calc( 100% - #{$spacer * 4 * 4});
				left: 50%;
				right: 50%;
				height: ($spacer * 4 * 4) + ($spacer * 4 * 3);
			}
		}

		@include flex-item( $basis: 10% );
	}

	.all {
		order: 3;

		@include flex-item( $basis: 20% );

		a {
			position: relative;
			margin-left: auto;
			margin-right: auto;
		}

		img {
			@include center( 'X' );

			top: -$spacer * 2.25;
			z-index: -1;
			width: $spacer * 4.5 * 3;
			height: $spacer * 4.5 * 3;
		}
	}

	.prev-next {
		order: 2;

		@include flex-container( $justify: space-around );
		@include flex-item( $basis: 70% );

		.label {
			position: absolute;
			margin-bottom: 0;
			font-family: $headings-font-family;
			font-weight: $headings-font-weight;
			font-size: $h6-font-size;
			text-transform: uppercase;
		}
	}

	.prev,
	.next {
		position: relative;
		margin-bottom: $spacer;

		@include flex-item( $basis: 80% );
		@include break-from( large ) {
			flex-basis: 49%;
		}
	}

	.prev {
		padding-left: $spacer;

		.label {
			top: 0;
			left: 0;
			transform: rotate( 90deg );
			transform-origin: bottom left;
		}
	}

	.next {
		padding-right: $spacer;

		.label {
			top: 0;
			right: 0;
			transform: rotate( -90deg );
			transform-origin: bottom right;
		}
	}
}
