// ==========================================================================
// Generic Styles
// ==========================================================================

.section {
	&.container {
		box-sizing: content-box;
		max-width: map-get( $container-max-widths, 'sm' );
		margin: auto;

		@include break-from( large ) {
			max-width: map-get( $container-max-widths, 'md' );

			&.racing-schedule {
				max-width: map-get( $container-max-widths, 'lg' );
			}
		}
	}

	h2 {
		margin-bottom: $spacer;
		color: $softgold;
		text-transform: uppercase;
		word-break: break-word;

		@include break-only( large xxlarge ) {
			font-size: em( $font-size-base * 2 );
		}

		a {
			&.title-section {
				text-decoration: none;
			}

			text-decoration: underline;
		}
	}

	.image {
		max-height: 1060px;

		@include flex-item( $basis: 50% );
		@include flex-container();

		iframe,
		picture,
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.holder {
		position: relative;
		width: 100%;
		padding-top: 100%;
		z-index: -1;

		@include break-from( xxlarge ) {
			padding-top: ( 3 / 4 * 100% );
		}

		iframe,
		> picture,
		> img {
			@include center();
		}
	}

	.text {
		@include flex-item( $basis: 50% );
		@include flex-container( $direction: column, $justify: center );

		.btn {
			margin-top: $spacer;
			padding: 0;
			align-self: flex-start;
			font-weight: $headings-font-weight;
		}
	}
}

.cm-1,
.cm-3,
.cm-5,
.cm-6,
.cm-7 {
	@include break-from( large ) {
		@include flex-container( $justify: space-between );
	}

	.text {
		@include break-until( xxlarge ) {
			padding: $spacer * 2;
		}
	}

	h2 {
		font-size: $h4-font-size;
	}

	.image {
		position: relative;
		overflow: hidden;

		@include break-until( large ) {
			max-width: map-get( $container-max-widths, 'sm' );
			margin: 0 auto;
		}

		&::before {
			content: '';
			position: absolute;
			width: 70%;
			padding-top: 70%;
			background-color: $beige;
			z-index: -1;
		}
	}
}

.cm-1,
.cm-5,
.cm-6,
.cm-7, {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.cm-1,
.cm-7 {
	.image::before {
		bottom: 0;
		left: 0;
	}
}

.cm-5,
.cm-6 {
	.image::before {
		top: 0;
		right: 0;
	}
}

.cm-1,
.cm-2 {
	.text {
		padding-bottom: 0;
	}

	.inner {
		position: relative;
		padding-top: 0;
		padding-left: 0;

		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 3px;
			height: $spacer * 2;
			background-color: $softgold;
			z-index: 1;

			@include break-from( medium ) {
				height: $spacer * 4;
			}

			@include break-from( xlarge ) {
				height: $spacer * 16;
			}
		}
	}
}

.cm-1 {
	.text .full-pad {
		padding-right: 0;

		@include break-until( medium ) {
			padding-left: 0;
		}
	}

	.inner {
		&::after {
			@include break-only( large ) {
				height: $spacer * 8;
			}
		}
	}

	.image {
		padding-top: 0;
		padding-right: 0;

		@include break-until( large ) {
			padding: 0 0 $spacer $spacer;
		}
	}
}

.cm-2 {
	padding-top: 0;

	@include break-from( xlarge ) {
		padding-left: 0;
		padding-right: 0;

		@include flex-container();
	}

	@include break-until( xlarge ) {
		padding-bottom: 0;
	}

	.image {
		@include break-until( xlarge ) {
			max-width: map-get( $container-max-widths, 'sm' );
			margin: 0 auto;
			padding: 0 $spacer;
		}
	}

	.text {
		position: relative;
		padding-bottom: 0;

		&::before {
			content: '';
			position: absolute;
			top: -$spacer;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: $charcoal;
			z-index: -1;

			@include break-from( medium ) {
				top: -$spacer * 2;
			}

			@include break-from( xlarge ) {
				top: $spacer * 4;
				width: 150%;
			}
		}

		@include break-until( xlarge ) {
			padding-top: 0;

			.full-pad {
				padding: 0 0 $spacer * 2;
			}

			.inner {
				padding-top: $spacer * 2;
			}
		}

		.full-pad {
			@include break-only( xlarge ) {
				padding: $spacer * 2 0;
			}
		}
	}

	.inner {
		padding-right: 0;

		&::after {
			@include break-only( medium ) {
				top: calc( 100% - #{$spacer} );
				height: $spacer * 4;
			}

			@include break-only( large ) {
				top: calc( 100% - #{$spacer} );
				height: $spacer * 6;
			}

			@include break-only( xlarge ) {
				height: $spacer * 8;
			}
		}
	}

	h2 {
		font-size: $h4-font-size;
	}

	p {
		color: $offwhite;
	}
}

.cm-3 {
	padding-right: 0;

	@include break-until( large ) {
		padding-top: 0;
		padding-left: 0;
	}

	.image {
		padding-bottom: 0;
		padding-right: 0;

		@include break-until( large ) {
			padding: $spacer 0 0 $spacer;
		}

		&::before {
			top: 0;
			left: 0;
		}
	}
}

.cm-4 {
	padding-bottom: 0;
	padding-left: 0;

	h2 {
		margin-bottom: 0;
	}

	.gallery {
		position: relative;
		min-height: rem( 360 );
		display: block;
		margin-bottom: 0;
	}

	.images {
		@include break-from( large ) {
			@include flex-container( $justify: center );
		}

		&:not( .slick-slider ) {
			margin-right: -$spacer;
			padding-left: $spacer;
			padding-right: $spacer;

			@include break-from( medium ) {
				margin-right: -$spacer * 2;
			}

			@include break-from( xlarge ) {
				margin-right: -$spacer * 4;
			}

			.image {
				padding: $spacer / 2;
				flex-basis: 49%;

				@include break-until( large ) {
					max-width: map-get( $container-max-widths, 'sm' );
					margin: auto;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		&.slick-slider {
			width: 100%;
			height: 100%;

			@include center();
		}
	}

	.slick-list,
	.slick-track {
		width: 100%;
		height: 100%;
	}

	.slick-dots {
		position: absolute;
		top: $spacer;
		right: - $spacer;

		li {
			display: block;
		}
	}

	@include break-from( medium ) {
		.gallery {
			min-height: rem( 480 );
		}

		.slick-dots {
			right: - $spacer * 1.5;
		}
	}

	@include break-from( xlarge ) {
		.gallery {
			min-height: rem( 560 );
		}

		.slick-dots {
			right: - $spacer * 2;
		}
	}

	@include break-from( xxlarge ) {
		.gallery {
			min-height: rem( 640 );
		}
	}
}

.cm-5 {
	.image {
		padding-bottom: 0;
		padding-left: 0;

		@include break-until( large ) {
			padding: $spacer $spacer 0 0;
		}
	}

	.text .full-pad {
		padding-left: 0;
	}
}

.cm-6,
.cm-7 {
	color: $offwhite;
	overflow: hidden;

	.image::before {
		width: 30%;
		padding-top: 30%;
	}

	.text {
		padding-left: 0;
		padding-right: 0;

		> .full-pad {
			position: relative;
			height: 100%;

			@include flex-container( $direction: column, $justify: center );

			&::before {
				content: '';
				position: absolute;
				top: 0;
				width: 110%;
				height: 100%;
				background-color: $charcoal;
				z-index: -2;
			}
		}
	}

	.inner {
		position: relative;
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;

		&::after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 3px;
			height: $spacer * 2;
			background-color: $softgold;
			z-index: 1;

			@include break-from( medium ) {
				height: $spacer * 4;
			}

			@include break-from( xlarge ) {
				height: $spacer * 8;
			}
		}
	}
}

.cm-6 {
	.image {
		padding-left: 0;

		@include break-until( large ) {
			padding: $spacer $spacer $spacer 0;
		}
	}

	.text {
		padding-bottom: 0;

		.full-pad::before {
			left: -$spacer / 2;

			@include break-from( medium ) {
				left: -$spacer;
			}

			@include break-from( xlarge ) {
				left: -$spacer * 2;
			}
		}
	}
}

.cm-7 {
	.image {
		padding-right: 0;

		@include break-until( large ) {
			padding: $spacer 0 $spacer $spacer;
		}
	}

	.text {
		padding-top: 0;

		.full-pad::before {
			right: -$spacer / 2;

			@include break-from( medium ) {
				right: -$spacer;
			}

			@include break-from( xlarge ) {
				right: -$spacer * 2;
			}
		}
	}
}

.cm-8,
.cm-9 {
	padding-left: 0;
	padding-right: 0;

	@include break-from( large ) {
		@include flex-container( $justify: space-between );
	}

	.info {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: $spacer / 2;
			left: $spacer;
			width: 3px;
			height: $spacer * 2;
			background-color: $softgold;
			transform: rotate( -180deg );
			transform-origin: top center;

			@include break-from( medium ) {
				top: $spacer;
				left: $spacer * 2;
				height: $spacer * 3;
			}

			@include break-from( large ) {
				top: $spacer * 2;
				left: 0;
				height: $spacer * 6;
			}

			@include break-from( xlarge ) {
				top: $spacer * 4;
				height: $spacer * 12;
			}
		}

		@include flex-item( $basis: 35% );
		@include flex-container( $direction: column, $justify: center );

		@include break-until( large ) {
			padding: ($spacer / 2) $spacer * 2;
		}

		@include break-until( medium ) {
			padding: ($spacer * 0.75) $spacer;
		}

		.btn-link {
			margin-top: $spacer;
			padding: 0;
			font-weight: $btn-font-weight;
		}
	}

	.quarter-pad {
		padding-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.gallery {
		display: block;
		position: relative;
		overflow: hidden;
		margin-bottom: 0;
		padding-top: 0;

		@include flex-item( $basis: 65% );

		.wrapper {
			position: relative;
		}
	}

	.slider {
		@include break-from( medium ) {
			@include flex-container( $align: flex-end );
		}

		&.secondary {
			position: absolute;
			bottom: 0;
			width: 30%;
			height: 30%;

			.image {
				border: 2px solid $softgold;
			}
		}

		&:not( .slick-slider ) {
			justify-content: center;

			@include break-until( small ) {
				margin: -$spacer;
			}

			@include break-only( xlarge ) {
				margin: -$spacer * 2;
			}

			.image {
				padding: $spacer / 2;

				+ .image {
					margin-top: $spacer / 2;
				}
			}
		}
	}

	.slick-list {
		@include flex-item();
	}

	.slick-arrow {
		position: absolute;
		text-transform: uppercase;
		color: $softgold;
		transform: rotate( -90deg );
		outline: 0;

		&:hover {
			color: $link-hover-color;
		}
	}

	.slick-dots {
		position: absolute;
		top: 0;
		right: -$spacer * 1.5;

		li {
			display: block;
		}
	}
}

.cm-8 {
	padding-bottom: 0;

	.info {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: -0;
			right: 0;
			width: 160%;
			height: 100%;
			background-color: $beige;
			z-index: -1;
		}

		@include break-from( large ) {
			padding-left: 0;
		}
	}

	.gallery {
		@include break-from( medium ) {
			padding-left: 0;
		}

		@include break-until( medium ) {
			padding-right: $spacer * 1.5;
		}
	}

	.slider {
		&.secondary {
			right: 0;
		}
	}

	.slick-prev {
		bottom: 2.25rem;
		left: -4.875rem;

		@include break-from( small ) {
			bottom: 2.5rem;
			left: -5.25rem;
		}
	}

	.slick-next {
		bottom: -0.25rem;
		right: -5.25rem;

		@include break-from( small ) {
			bottom: 0;
			right: -5.5rem;
		}

		@include break-from( medium ) {
			bottom: -1.75rem;
			right: -7rem;
		}

		@include break-from( xlarge ) {
			bottom: -4.75rem;
			right: -10rem;
		}
	}
}

.cm-9 {
	background-color: $charcoal;
	color: $offwhite;
	margin-top: $spacer;

	@include break-from( medium ) {
		margin-top: $spacer * 2;
	}

	@include break-from( xlarge ) {
		margin-top: $spacer * 4;
	}

	@include break-until( large ) {
		padding: 0;
	}

	.info {
		@include break-from( large ) {
			padding-right: 0;

			&::after {
				left: $spacer * 2;
			}
		}

		@include break-from( xlarge ) {
			&::after {
				left: $spacer * 4;
			}
		}
	}

	.gallery {
		@include break-from( medium ) {
			padding-right: 0;
		}

		@include break-until( medium ) {
			padding-left: $spacer * 1.5;
		}
	}

	.slider {
		&.secondary {
			left: 0;
		}
	}

	.slick-prev {
		bottom: 1rem;
		left: -6.325rem;

		@include break-from( small ) {
			bottom: 1.25rem;
			left: -6.75rem;
		}

		@include break-from( medium ) {
			bottom: -0.325rem;
			left: -8.325rem;
		}

		@include break-from( xlarge ) {
			bottom: -3.375rem;
			left: -11.375rem;
		}
	}

	.slick-next {
		bottom: 1.125rem;
		right: -3.75rem;

		@include break-from( small ) {
			bottom: 1.25rem;
			right: -4rem;
		}
	}
}
