// ==========================================================================
// Home Styles
// ==========================================================================

.banner .content {
	max-width: map-get( $container-max-widths, 'xx' ) / 2;
}

.featured {
	.page {
		max-width: rem( 560 );
		margin: 0 auto $spacer;
		text-transform: uppercase;
	}

	@include break-from( medium ) {
		padding-left: 0;
		padding-right: 0;

		@include flex-container( $justify: space-between );

		.page {
			@include flex-item( $basis: 49% );
		}
	}

	@include break-from( xlarge ) {
		.page {
			max-width: 100%;

			@include flex-item( $basis: 33% );
		}
	}

	h2 {
		margin-bottom: 0;
		color: $softgold;
		font-size: $h3-font-size;
	}

	.tile {
		position: relative;
		text-align: center;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba( $black, 0.25 );
		}

		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: $spacer;

			@include flex-container( $align: flex-end, $justify: flex-end, $direction: column );

			&:hover .btn {
				background-color: $softgold;
				color: $charcoal;
			}
		}

		.btn {
			color: $offwhite;

			@include break-from( medium ) {
				flex-direction: row;
			}

			svg {
				margin-top: 0;
			}
		}
	}
}

.supers {
	padding-top: 0;

	@include break-from( large ) {
		padding-left: 0;
		padding-right: 0;

		@include flex-container( $align: flex-end, $justify: space-between );

		.page {
			@include flex-item( $basis: 49% );
		}
	}

	.image {
		position: relative;
		padding: $spacer * 4 $spacer $spacer 0;

		@include break-from( medium ) {
			padding-right: $spacer * 2;
			padding-bottom: $spacer * 2;
		}

		@include break-until( large ) {
			max-width: map-get( $container-max-widths, 'sm' );
			margin: 0 auto;
		}

		@include break-from( xxlarge ) {
			padding-right: $spacer * 4;
			padding-bottom: $spacer * 4;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: calc( 100% - #{$spacer * 2} );
			height: 100%;
			background-color: $beige;
			z-index: -1;

			@include break-from( medium ) {
				width: calc( 100% - #{$spacer * 2} );
			}

			@include break-from( xlarge ) {
				width: calc( 100% - #{$spacer * 4} );
			}
		}
	}

	.holder {
		position: relative;
		padding-top: ( 3 / 4 * 100% );

		&::after {
			content: '';
			position: absolute;
			bottom: -$spacer * 2;
			right: $spacer;
			width: 3px;
			height: $spacer * 8;
			background-color: $softgold;
			z-index: 1;

			@include break-from( medium ) {
				bottom: -$spacer * 4;
				right: $spacer * 2;
			}

			@include break-from( xxlarge ) {
				bottom: -$spacer * 8;
				right: $spacer * 4;
				height: $spacer * 16;
			}
		}
	}

	.button {
		position: absolute;
		top: $spacer;
		right: $spacer / 2;

		@include break-from( medium ) {
			top: $spacer * 0.75;
			right: $spacer;
		}

		@include break-from( xlarge ) {
			top: $spacer;
		}
	}
}

.about {
	min-height: auto;
	color: $body-color;

	&::after {
		display: none;
	}

	.container-fluid {
		align-items: flex-start;

		&::after {
			height: calc( 100% + #{$spacer / 2} );

			@include break-from( medium ) {
				height: calc( 100% + #{$spacer} );
			}

			@include break-from( xlarge ) {
				height: calc( 100% + #{$spacer * 2} + #{$spacer} );
			}
		}
	}

	.content {
		max-width: 75%;
	}

	h2,
	.super {
		color: $softgold;
	}
}
