// ==========================================================================
// Global Styles
// ==========================================================================

html {
	// Use percentage to inherit the value from the user's browser settings
	font-size: ( px( $font-size-base ) / 16px ) * 100%;
}

// Opinionated defaults
body {
	max-width: map-get( $container-max-widths, 'xl' ) * 2;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: em( 1 );

	@include break-until( small ) {
		font-size: 0.875rem;
	}
}

.menu-open {
	overflow: hidden;
}

.site-wrapper {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		background-color: $white;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		z-index: 3;
	}
}

.offset-width {
	min-width: $offset / 2;

	@include break-from( medium ) {
		min-width: $offset * 0.75;
	}

	@include break-from( xlarge ) {
		min-width: $offset;
	}
}

.full-offset {
	margin-left: $offset / 2;

	@include break-from( medium ) {
		margin-left: $offset * 0.75;
	}

	@include break-from( xlarge ) {
		margin-left: $offset;
	}
}

.half-offset {
	margin-left: $offset / 4;

	@include break-from( medium ) {
		margin-left: $offset * 0.375;
	}

	@include break-from( xlarge ) {
		margin-left: $offset / 2;
	}
}

.full-pad {
	padding: $spacer;

	@include break-from( medium ) {
		padding: $spacer * 2;
	}

	@include break-from( xlarge ) {
		padding: $spacer * 4;
	}
}

.half-pad {
	padding: $spacer / 2;

	@include break-from( medium ) {
		padding: $spacer;
	}

	@include break-from( xlarge ) {
		padding: $spacer * 2;
	}
}

.quarter-pad {
	padding: $spacer / 2;

	@include break-from( medium ) {
		padding: $spacer * 0.75;
	}

	@include break-from( xlarge ) {
		padding: $spacer;
	}
}

.lazyload {
	opacity: 0;
}

.lazyloading {
	opacity: 1;
	transition: opacity 0.4s;
	background-color: $offwhite;
	background-image: url( "/wp-includes/images/spinner-2x.gif" );
	background-repeat: no-repeat;
	background-position: center;
}
